.c-clients.o-section__content(aria-labelledby="clients__header")

	h2.o-section__header.c-clients__header#clients__header Some of the companies I've worked for

	ul.c-clients__list

		li.c-clients__list__item
			+client-logo("apple")

		li.c-clients__list__item
			+client-logo("diageo")

		li.c-clients__list__item
			+client-logo("lufthansa")

		li.c-clients__list__item
			+client-logo("western-union")

		li.c-clients__list__item
			+client-logo("village-roadshow")

		li.c-clients__list__item
			+client-logo("lowe-profero")
