.c-introduction.o-section__content(aria-labelledby="introduction__header", itemscope="", itemtype="http://data-vocabulary.org/Person")

	meta(itemprop="url", content="https://yourweb.expert")

	.c-introduction__image__container
		img.c-introduction__image(src="/images/darryl-snow.jpg", alt="Darryl Snow", itemprop="photo")

	.c-introduction__content__container

		h1#introduction__header.c-introduction__header(itemprop="name") Darryl Snow
			.subheading(itemprop="title") web expert

		p.c-introduction__text I'm a freelancer, based in 
			a.js-map-link.o-inline-link(href="https://www.google.com/maps/place/Kunming,+Yunnan,+China/@25.021747,102.4608384,10z/data=!3m1!4b1!4m2!3m1!1s0x36d083c31227d3cb:0xccb1f3a4984f0a36", title="View Kunming (UTC-8:00) on a map", itemprop="address" itemscope="", itemtype="http://data-vocabulary.org/Address")
				span(itemprop="locality") Kunming,&nbsp;
				span(itemprop="country") China
			| , with over&nbsp;
			span.js-years-of-experience 17
			| &nbsp;years of experience working on the web.

		ul.c-introduction__contact-list

			+contact-list-item({href: "mailto:darryl@yourweb.expert", title: "Contact me via email: darryl@yourweb.expert", text: "dazsnow@gmail.com", icon: "mail"})
			+contact-list-item({href: "skype:darryl.snow?add", title: "Add me on Skype: darryl.snow", text: "darryl.snow", icon: "skype"})
			+contact-list-item({href: "tel:008618669117013", title: "Phone me: (+86) 186-6911-7013", text: "(+86) 186-6911-7013", icon: "phone"})
			+contact-list-item({href: "https://github.com/darryl-snow", title: "Follow me on Github: darryl-snow", text: "https://github.com/darryl-snow", icon: "github-alt"})