.c-services.o-section__content(aria-labelledby="services__header")

	h2.o-section__header.c-services__header#services__header What I do

	ul.c-services__list

		li.c-services__list__item
			+checkmark
			| Full-stack development
		li.c-services__list__item
			+checkmark
			| JavaScript / Angular / React
		li.c-services__list__item
			+checkmark
			| Design / UX
		li.c-services__list__item
			+checkmark
			| Project Management
		li.c-services__list__item
			+checkmark
			| Consultancy

	.c-services__button__container

		a.o-button.c-services__button(href="", title="") want to know more?