.c-navbar

	a.c-navbar__link.js-trigger-page-transition(data-page="home", href="/")
		svg.o-icon.o-icon--angle-left(viewBox="0 0 32 32")
			use(xlink:href="#icon--angle-left")
		| Back to the main page

.o-article

	.o-article__header.c-about-me__header

		h1.o-article__header__content About Me

	.o-article__content

		p I grew up in Jersey (
			a.o-inline-link(href="https://www.google.com.sg/maps/place/Jersey/@49.2110414,-2.273061,11z/data=!3m1!4b1!4m2!3m1!1s0x480c52a48c927533:0x519c23a30a1a6cc3?hl=en", title="Find Jersey on Google Maps") the old one
			| ), studied computer science at 
			a.o-inline-link(href="https://en.wikipedia.org/wiki/School_of_Computer_Science,_University_of_Manchester", title="Read about the Computer Science department at Manchester University") Manchester University
			| , and then moved to China in 2005, for an adventure. I lived in Beijing until 2014, at one point working as a 
			a.o-inline-link(href="https://www.youtube.com/watch?v=AFp_99HNos8", title="See me in action on Youtube") national TV weatherman
			| &nbsp;(They got to the top line of my CV, saw I had my own suit, and the job was in the bag). Beijing was indeed an adventure, and it was a priviledge to see the mind-numbing pace of change first hand. While I was there I got to experience the burgeoning tech scene, attending several conferences, and even hosting the W3C conference in 2011. I currently live in Kunming, in SouthWest China, not too far from the Laos &amp; Vietnam borders and in the foothills of the Tibetan plateau, where the air is <strong>much</strong> cleaner, with my yoga teacher wife and 3 dogs. My Chinese is pretty good now
			svg.o-icon.o-icon--cool(viewBox="0 0 32 32")
				use(xlink:href="#icon--cool")
			| .

		img.o-image.o-article__image.o-article__image--small.o-article__image--right(alt="My wife and 3 dogs", src="/images/family.jpg")

		p Since moving to China, the only 2 things I really missed from home were beer and people. Well, I taught myself to brew beer, set up a little nanobrewery, and also established the 
			a.o-inline-link(href="http://kunmingbeer.org", title="Go to the Kunming Craft Beer Society website") Kunming Craft Beer Society
			| , for which I teach others how to brew and organise festivals and events with local businesses. As for people? I guess that's where tech comes in, connecting us and making the world smaller.

		h2.o-article__subheader My Experience

		p I began programming in Visual Basic, the gateway drug, when I was 13. At the time, the web was just getting started and I soon jumped into web development, trying every kind of technology I could get my head around. I set up my own web design company when I was 16, serving local businesses. Computer science at university was somewhat of a disappointment - the low-level details of how computers worked was too far removed from what I enjoyed about the web, being able to make cool stuff that everyone can use. To get back to the creative side, I went on to do a course in Graphic Design at Central St. Martin's College London. Then soon after moving to China I worked as a graphic designer for the country's most well-known design agency, 
			a.o-inline-link(href="http://www.zhengbang.com.cn/", title="Visit ZhengBang's website") ZhengBang
			| . It wasn't long before I returned to tech, setting up the agency's website section with another colleague. In those days I was mainly working with Flash&hellip;. I continued focusing on web technology, working freelance for a few years and learning as much as I could about CSS, JavaScript, PHP, Ruby, and Python.

		p In 2011 I joined Profero, now 
			a.o-inline-link(href="http://www.loweprofero.com/", title="Visit the Lowe Profero website") Lowe Profero
			| , a well-known global digital marketing agency. The Beijing office was the technology production office, a team of about 40 people carrying out most of the design, development, and testing for big-name global clients. In my 3 years there I covered many roles including:

		ul
			li Front-end Developer
			li Leading the accounts team ~ 5 people, liaising between clients and the production team
			li Studio Lead, heading up project management for the production team ~ 30 people
			li Head of Research and Development, building prototypes with new technologies, selling them to clients, and training the production team

		h2.o-article__subheader What I Do Now

		p Put simply, I work with tech and marketing teams to make great products. As a freelancer, I have to cover many roles, but what I particularly specialise in is front-end development. I think the most important skill of any web professional is the ability to learn. That or empathy&hellip;. The range of tools, technologies, and techniques required to make a web project successful grows and changes every day, so we as web professionals have to change with it. That's why I spend some time each day just reading and practicing. Front-end is an area that's developing most rapidly, perhaps due to the rising popularity of JavaScript and snazzy frameworks like Angular and React, but also probably due to the low barrier to entry. That's not to say it's easy! Front-end covers 3 languages at least - HTML, CSS, and JavaScript - each with their own best practices and paradigms. When playing the role of a front-end developer, one must consider:

		ul
			li The semantics and accessibility of the markup, how machine-readable it is, that is how well search engines and tools used by disabled users can parse the content
			li The modularity and specificity of the CSS, how parts of the web page or app can be styled differently but in a way that can be re-used and won't break other parts of the page or app
			li The scalability and maintainability of the code, to ensure that you or someone else can build upon what you've already made without breaking anything
			li The device agnosticism and browser compatibility
			li The performance is especially important with increasing mobile device usage, so that means knowing about how the files should be written, processed, and served

		p And that's not all. Often development teams might lack the knowledge, skills, or simply time to ensure that all these best practices are being followed through. That's where someone like me comes in. I generally work on products or long-running projects that require such a focus on performance, scalability, and maintainability. Either as a sole developer or as part of a team, I start with short initial kick-off sprints that are focused on setting up workflows and architectures. This gives my clients flexibility and security as they know their project can continue to grow safely and efficiently, whether they hire me to continue developing it or just rely on their existing team.

		p I like to write very clean, readable code. That's not just because I'm a neat freak but also to make sure that anyone who works with me or takes over a project from me can do so easily, and be able to understand how it all works. I organise all my files and folders and document everything. Don't believe me? 
			a.o-inline-link(href="https://github.com/darryl-snow/new-site") Check out the code for this site
			| .

		img.o-image.o-article__image.o-article__image--left(alt="An example of my clean code", src="/images/clean-code.png")

		p The UI design is increasingly dependent on front-end coding as well. The industry is only now starting to realise that the limitations of the code places constraints on the design possibilities. Not just that, the shift towards the mobile web has forced us to think up cleaner, more efficient user interfaces that perform faster and more smoothly. The best way to design, then, is to do it right in the web browser. I like to design small, modular chunks that get put together to make the final product; in this way the design is modular and scalable. After all, a web project is no longer a collection of pages, but a system for delivering some content or functionality. By doing the design work using code, rather than a tool like Photoshop, I can show you the design exactly as it will appear in the final product. You can not only see it, but you can test it, use it, touch it, pinch it and zoom it, turn it, interact with it. I design websites and apps, not pictures of websites and apps. If there's anything that needs changing, it's a very quick and easy fix. The best part? No more development work is needed - the design doesn't have to be passed on to someone to code up because it's already coded up. It saves you time and money!

		p If you like you can have a look at 
			a.o-inline-link(href="/styles") an example of a style guide for my own website
			| . I didn't build this - it's generated from the code automatically - but it does help me get an overview sense of the theme that will be used on my website, as well as a guide for future development.

		p For a web project to run smoothly, communication, collaboration, and organisation are key. While working on a project in any role I like to follow this kind of project management methodology:

		ul
			li Detailed requirements gathering, including explicit and measurable business and performance goals
			li Content strategy planning
			li Accurate features list, broken down into the most basic manageable blocks
			li Design, development and testing in unison, with each feature acting like a sprint; once a component is built then we know it looks good and it works well, so we can move on in safe knowledge that it meets our goal and it won't break later
			li Constant communication availability via a slack channel or equivalent
			li Daily standups to provide progress updates and get feedback from all stakeholders
			li Flexible timelines, because a web project is never finished
			li Gathering of performance and usability analytics to measure against original goals in a project review
			li Smooth handover, including documentation and training as necessary

		p If you think your project might need a developer, a designer, or a project manager like me, then 
			a.o-inline-link(href="mailto:darryl@yourweb.expert", title="Email me") let me know
			| . Otherwise maybe you already have a capable team but are about to start an unusually large project? Maybe I can help there too, advising them on a performant, pragmatic, agile, and robust workflow? Maybe I can help you get started?

		p If you're ready to get started, please do 
			a.o-inline-link(href="/contract") have a look at my contract.

		p If you're still not convinced, then you might find 
			a.o-inline-link(href="", title="Visit my blog on medium.com") my blog
			| &nbsp;interesting. I write articles about the various roles involved in producing web projects, as well as tutorials and my thoughts about the industry in general.

		h2.o-article__subheader My Goals

		p My ultimate goal is just to make cool stuff on the web. It's that simple.

		p Specifically though, I want to focus on broadening my client base and the types of clients and projects I take on so that I can learn more. I also want to write more blog articles and continue to build more side-projects. If you'd like to read my blog, you can find it 
			a.o-inline-link(href="", title="Visit my blog on medium.com") here
			| , or if you'd like to keep an eye on my side projects then you can 
			a.o-inline-link(href="https://github.com/darryl-snow", title="Visit my Github profile") follow me on Github
			| .

		h2.o-article__subheader Referral Scheme

		p As a freelancer, I am dependent on referrals. It saves me a lot of time and effort looking and screening for and the work that I want to take on. A lot of my existing work has come from friends and former colleagues and employers. I am extremely grateful for this, and so I want to offer a basic referral scheme to anyone directly responsible for me starting work with their company. To such a person I will award a USD$50 voucher at a retailer of their choice as a small gesture of thanks.

		h3.o-article__subheader Terms

		p I want to keep this informal and friendly, and don't want to stick to these rules too closely; it's just that nor do I want to be cheated :	)

		ul
			li Only one voucher per engagement
			li Only one person can receive the voucher
			li I won't give out a referral code or anything like that - please ask the person who contacts me to include your name and email address
			li The voucher will only be issued once the first invoice has cleared
			li No voucher will be issued if I am not engaged to work for your company
			li Vouchers will only be issued for engagements lasting 1 week of full-time work or more
			li Referrals cannot be back-dated
			li Conditions are subject to change at my discretion

		p Strange situations might be dealt with on a case-by-case basis, but otherwise if you have any questions then please do email me at 
			a.o-inline-link(href="mailto:darryl@yourweb.expert", title="Email me") darryl@yourweb.expert
			| .