.c-blog.o-section__content

	ul.o-blog-post-list.c-blog__list.js-blog-list

		li.o-blog-post-list__item.c-blog__list__item

			a.o-blog-post-list__item__link.c-blog__list__item__link(href="", title="Read more")

				h2.c-blog-post-list__item__heading.c-blog__list__item__heading Bleh

				.o-blog-post-list__item__date.c-blog__list__item__date 25
					sup th
					| &nbsp;Dec

		li.o-blog-post-list__item.c-blog__list__item

			a.o-blog-post-list__item__link.c-blog__list__item__link(href="", title="Read more")

				h2.c-blog-post-list__item__heading.c-blog__list__item__heading Bleh

				.o-blog-post-list__item__date.c-blog__list__item__date 25
					sup th
					| &nbsp;Dec

		li.o-blog-post-list__item.c-blog__list__item

			a.o-blog-post-list__item__link.c-blog__list__item__link(href="", title="Read more")

				h2.c-blog-post-list__item__heading.c-blog__list__item__heading Bleh

				.o-blog-post-list__item__date.c-blog__list__item__date 25
					sup th
					| &nbsp;Dec