.c-blog.o-section__content

	ul.o-blog-post-list.c-blog__list.js-blog-list

		li.o-blog-post-list__item

			a.o-blog-post-list__item__link(href="", title="Read more")

				h2.o-blog-post-list__item__heading Article Title

				.o-blog-post-list__item__date 25
					sup th
					| &nbsp;Dec

		li.o-blog-post-list__item

			a.o-blog-post-list__item__link(href="", title="Read more")

				h2.o-blog-post-list__item__heading Article Title

				.o-blog-post-list__item__date 25
					sup th
					| &nbsp;Dec

		li.o-blog-post-list__item

			a.o-blog-post-list__item__link(href="", title="Read more")

				h2.o-blog-post-list__item__heading Article Title

				.o-blog-post-list__item__date 25
					sup th
					| &nbsp;Dec