.c-clients.o-section__content(aria-labelledby="clients__header")

	h2.o-section__header.c-clients__header#clients__header Some of the companies I've worked for

	ul.c-clients__list

		+client("Apple")
		+client("Diageo")
		+client("Lufthansa")
		+client("Western Union")
		+client("Village Roadshow")
		+client("Lowe Profero")