include ../includes/mixins

.c-clients.o-section__content.js-full-height-section__content(aria-labelledby="clients__header")

	h2.o-section__header.o-section__header--white#clients__header Some&nbsp;of&nbsp;the companies I've&nbsp;worked&nbsp;for

	ul.o-logo-grid.o-logo-grid--white

		+client("Apple")
		+client("Diageo")
		+client("Lufthansa")
		+client("Western Union")
		+client("Village Roadshow")
		+client("Lowe Profero")