include ../includes/mixins

+navigation

section.o-section.o-section--dark-blue.js-scroll-point.js-full-height-section(data-nav-title="About me", id="introduction")

	.o-section__content__container

		include introduction

	+section-end

section.o-section.o-section--padding-top.o-section--sky-blue.js-scroll-point(data-nav-title="Find out what I do", data-when-in-view="check-checkmarks", id="services")

	.o-section__content__container

		include services

	+section-end

section.o-section.o-section--padding-top.o-section--blue.js-scroll-point.js-full-height-section(data-nav-title="See who I've worked for", data-when-in-view="show-logos", id="clients")

	.o-section__content__container

		include clients

	+section-end

section.o-section.o-section--padding-top.o-section--cerulean-blue.js-scroll-point.js-full-height-section(data-nav-title="How much I charge", id="cost")

	.o-section__content__container

		include cost

	+section-end

section.o-section.o-section--padding-top.o-section--navy-blue.js-scroll-point.js-full-height-section(data-nav-title="Get in touch with me", data-when-in-view="zoom-in-map", id="contact")

	.o-section__content__container

		include contact

	+section-end

section.o-section.o-section--padding-top.o-section--dark-blue.c-blog__section.js-scroll-point.js-blog(data-nav-title="Read my thoughts", data-wait-for-load="true", id="blog")

	.o-section__content__container

		include blog

	+section-end

section.o-section.o-section--padding-top.o-section--white.js-scroll-point(data-nav-title="Subscribe to the FullWeb newsletter", id="newsletter")

	.o-section__content__container

		include newsletter

include login