include ../includes/mixins

.c-introduction.o-section__content.o-media.js-full-height-section__content(aria-labelledby="introduction__header", itemscope="", itemtype="http://schema.org/Person")

	meta(itemprop="url", content="https://yourweb.expert")

	.o-media__image
		img.o-image--avatar.c-introduction__image(alt="Picture of me, Darryl Snow", itemprop="image", src="/images/darryl-snow.jpg")

	.o-media__text

		h1#introduction__header.c-introduction__header
			span(itemprop="name") Darryl Snow
			.u-subheader(itemprop="jobTitle") web expert

		p.c-introduction__text I'm a digital product manager, based&nbsp;in 
			a.js-map-link.o-inline-link.o-inline-link--silver(href="https://www.google.com/maps/@31.2052858,121.439904,12z", itemprop="address" itemscope="", itemtype="http://schema.org/PostalAddress", title="View Shanghai (UTC-8:00) on a map")
				span(itemprop="addressLocality") Shanghai,&nbsp;
				span(itemprop="addressCountry") China
			| , with over&nbsp;
			span.js-years-of-experience 18
			| &nbsp;years&nbsp;of&nbsp;experience working&nbsp;on&nbsp;the&nbsp;web.

		ul.c-introduction__contact-list

			+contact-method({href: "mailto:darryl@yourweb.expert", icon: "mail", itemprop: "email", text: "darryl@yourweb.expert", title: "Contact me via email: darryl@yourweb.expert"})
			+contact-method({href: "skype:darryl.snow?add", icon: "skype", text: "Skype: darryl.snow", title: "Add me on Skype: darryl.snow"})
			+contact-method({href: "tel:008615618012702", icon: "phone", itemprop: "telephone", text: "(+86) 156-1801-2702", title: "Phone me: (+86) 156-1801-2702"})
			+contact-method({href: "https://github.com/darryl-snow", icon: "github-alt", text: "Github: https://github.com/darryl-snow", title: "Follow me on Github: darryl-snow"})
			+contact-method({href: "https://www.linkedin.com/profile/view?id=AAMAAApURbQB8js72nhiwqJ5zNxxxUjjU_viclI", icon: "linkedin", text: "Linkedin: https://www.linkedin.com/profile/view?id=AAMAAApURbQB8js72nhiwqJ5zNxxxUjjU_viclI", title: "Read my Linkedin profile"})
