.c-newsletter(aria-labelledby="newsletter__header")

	h2.c-newsletter__header#newsletter__header I subscribe and contribute to the

	a.c-newsletter__link(href="http://fullweb.io/", title="Go to the Full Web home page to sign up")
		img.c-newsletter__image(src="/images/fullweb-logo.svg", alt="Full Web Newsletter logo")

	p &hellip;and you should to