.c-newsletter(aria-labelledby="newsletter__header")

	h2.o-section__header.o-section__header--small(id="newsletter__header") I&nbsp;subscribe&nbsp;and contribute&nbsp;to&nbsp;the

	a.c-newsletter__link(href="http://fullweb.io/", title="Go to the Full Web home page to sign up")
		img.c-newsletter__image(alt="Full Web Newsletter logo", src="/images/fullweb-logo.svg")

	p &hellip;and you should too