include ../includes/mixins

.c-services.o-section__content(aria-labelledby="services__header")

	h2.o-section__header.o-section__header--blue--medium#services__header What I do

	ul.c-services__list

		+service-list-item({content: "I can support your design and development teams with front and back-end development, Content Management System (CMS) setup, database setup, as well as testing, deployment, and workflow setup.", header: "Full-stack development"})
		+service-list-item({content: "I ♥ JavaScript and always keep up to date with the latest frameworks like Angular and React. That means fast, responsive, and modular apps that can run on any device.", header: "JavaScript Apps"})
		+service-list-item({content: "I design clean and simple user interfaces directly in the web browser, without the need for static comps. That makes my designs testable, modular, scalable, reusable, more realistic, and quicker to produce.", header: "Design / UX"})
		+service-list-item({content: "Producing a web project on time and on budget requires the coordination of many different roles. I have experience in all of these roles and follow an agile methodology that involves breaking the project into small workable chunks, then tracking and reporting on a daily basis.", header: "Project Management"})
		+service-list-item({content: "I enjoy teaching and fixing things. If you or your team are finding problems with how you work together, how to scale your codebase, how to optimise your design process, how to write more modular UIs then I can help increase the value of your product or organisation.", header: "Consultancy"})

	.c-services__footer

		a.o-button.o-button--ghost.o-button--ghost--blue--medium.js-trigger-page-transition(data-page="about", href="/about/me", title="") want to know more?