// @name Articles
// @description A component comprising a header plus text and images.
// @markup
// <div class="o-article">
//   <div class="o-article__header">
//     <h1 class="o-article__header__content">Article Header
//       <div class="o-article__header__content__buttons">
//         <a class="o-button o-button--ghost o-button--ghost--white-and-blue o-button--with-margin" href="">Button</a>
//       </div>
//     </h1>
//   </div>
//   <div class="o-article__content">
//     <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.</p>
//     <p>Jolly boat interloper scallywag piracy pressgang lad jack wherry sloop hogshead. Square-rigged lass knave rum yard squiffy heave to furl swing the lead reef. Bilge reef sails holystone keelhaul lee tender nipper run a shot across the bow marooned port.</p>
//     <img alt="Article Image" class="o-image o-image--right o-image--bordered o-image--small" src="https://placehold.it/400x400">
//     <p>Pirate avast belaying pin snow fore jolly boat ballast hearties hands clap of thunder. Salmagundi red ensign heave to cackle fruit fire ship lookout yard reef wench killick. Crimp main sheet sloop wench broadside yard driver mutiny Brethren of the Coast Pieces of Eight.</p>
//   </div>
// </div>

.o-article
	background					$grey--light-2
	color						$dark-blue
	padding-bottom 				$base-spacing-unit

	&__header
		background-image		url(../images/twitter-bg.png)
		background-position 	top center
		background-repeat 		no-repeat
		background-size 		cover
		height 					25vh
		margin-bottom 			$base-spacing-unit
		min-height 				15rem
		padding-top 			2rem
		text-align 				center

		+bp($screen-sm-min)
			height 				50vh

		&__content
			vertical-centre()
			color				$white
			font-size 			3rem

			&__buttons
				font-size 		0.75rem

	&__content
		margin					0 auto
		width					90%

		+bp($screen-sm-min)
			width				70%

		li
		p
			line-height			1.6

	&__subheader
		font-weight 			600