// @name Blog Post Lists
// @description For composing a list of items with external links to blog posts. List items may contain dates and ex excerpts.
// @markup
// <ul class="o-blog-post-list">
//   <li class="o-blog-post-list__item">
//     <a class="o-blog-post-list__item__link" href="http://darryl-snow.tumblr.com/post/92167288432/setting-the-tone" title="Read more">
//       <h2 class="o-blog-post-list__item__heading">Setting the Tone</h2>
//       <div class="o-blog-post-list__item__date">19 Jul</div>
//     </a>
//   </li>
//   <li class="o-blog-post-list__item">
//     <a class="o-blog-post-list__item__link" href="http://darryl-snow.tumblr.com/post/92162414267/first-post" title="Read more">
//       <h2 class="o-blog-post-list__item__heading">First Post</h2>
//       <div class="o-blog-post-list__item__date">19 Jul</div>
//     </a>
//   </li>
// </ul>

.o-blog-post-list
	unstyled-list()
	transition 							0.15s opacity ease-in-out 0.45s
	width								100%

	&__item
		margin-bottom 					0.25rem
		overflow 						hidden
		text-align 						left

		&:first-of-type
			border-top-left-radius 		0.25em
			border-top-right-radius 	0.25em

		&:last-of-type
			border-bottom-left-radius 	0.25em
			border-bottom-right-radius 	0.25em

		&__link
			row()
			align-items 				center
			background 					lighten($blue--dark, 10%)
			color						$silver
			padding						0.5 * $base-spacing-unit
			text-decoration 			none
			transition 					$fast-transition

			+ActiveFocusHover()
				background 				darken($blue--dark, 10%)
				color					$yellow

		&__date
			col(2)
			font-size 					0.75rem

		&__heading
			col(10)
			font-size 					1.25rem
			margin-bottom 				0
			margin-top 					0

		&__excerpt
			font-size 					0.75rem
			margin						0