// @name Buttons
// @description All kinds of buttons found on the site.
// @state .is-disabled - dims the button when disabled
// @state .o-button--block - makes the button block-level (full-width)
// @state .o-button--blue--navy - navy blue button
// @state .o-button--blue--sky - sky blue button
// @state .o-button--icon - turns an icon into a button
// @state .o-button--ghost - borders but no background
// @state .o-button--ghost--blue--medium - medium blue ghost button
// @state .o-button--ghost--white - white ghost button
// @state .o-button--ghost--white-and-blue - white and blue ghost button
// @state .o-button--ghost--white-and-yellow - white and yellow ghost button
// @state .o-button--with-margin - top, bottom, and side margins
// @markup
// <button class="o-button">button</button>
// <button class="o-button o-button--block">Block button</button>
// <button class="o-button o-button--blue--navy">Navy blue button button</button>
// <button class="o-button o-button--blue--sky">Sky blue button button</button>
// <button class="o-button o-button--icon">&times;</button>
// <button class="o-button o-button--ghost">Ghost button</button>
// <button class="o-button o-button--ghost o-button--ghost--blue--medium">Medium Blue Ghost button</button>
// <button class="o-button o-button--ghost o-button--ghost--white">White Ghost button</button>
// <button class="o-button o-button--ghost o-button--ghost--white-and-blue">White and Blue Ghost button</button>
// <button class="o-button o-button--ghost o-button--ghost--white-and-yellow">White and Yellow Ghost button</button>
// <button class="o-button o-button--rounded">Rounded button</button>
// <button class="o-button o-button--with-margin">Button with margin</button>

.o-button
	relative()
	border						2px solid $white
	border-radius				0.3rem
	cursor						pointer
	display						inline-block
	font-family					$body-font
	font-size					0.65rem
	font-weight					600
	padding						0.3 * $base-spacing-unit 1.875em
	text-align					center
	text-decoration				none
	text-shadow					none
	text-transform				uppercase
	transition					$fast-transition

	+bp($screen-lg-min)
		padding					0.3 * $base-spacing-unit 2.5em

	&:disabled,
	&[disabled],
	&.is-disabled
		cursor					not-allowed
		opacity					0.5

	&--block
		display					block
		width					100%

	&--blue

		&--navy
			background			$blue--navy
			border				none
			color				$white

			+ActiveFocusHover()
				background		lighten($blue--navy, 15%)

			&.is-disabled

				+ActiveFocusHover()
					background	$blue--navy

		&--sky
			background			rgba($blue--sky, 0.1)
			border				2px solid rgba($blue--navy, 0.5)
			color				$blue--sky

			&:focus
				background		rgba($blue--sky, 0.2)

	&--icon
		background				none
		border					none
		font-size				1.5rem
		height					1.5rem
		line-height				1.5rem
		opacity					0.5
		padding					0
		text-align				center
		transition				$fast-transition
		width					1.5rem

		+ActiveFocusHover()
			opacity				1

	&--ghost
		background 				transparent
		border-color			$blue--medium
		color					$blue--medium

		+ActiveFocusHover()
			background			$blue--medium
			color				$white

		&--blue

			&--medium
				border-color	$blue--medium
				color			$blue--medium

				+ActiveFocusHover()
					background	$blue--medium
					color		$blue--sky

		&--white
			border-color 		$white
			color				$white

			+ActiveFocusHover()
				background 		$white
				color			$blue--cerulean

		&--white-and-blue
			border-color 		$white
			color				$white

			+ActiveFocusHover()
				background 		$dark-blue
				border 			2px solid $dark-blue
				color			$white

		&--white-and-yellow
			border				1px solid rgba($white, 0.5)
			color				rgba($white, 0.5)

			+ActiveFocusHover()
				background		$yellow
				color			$blue--navy

	&--rounded
		border-radius			999px

	&--small
		font-size				0.5rem

	&--with-margin
		margin					1rem 0.5rem