// @name Circular Icon Buttons
// @description Circular buttons containing only an icon.
// @markup
// <div class="o-circular-icon-button">
//   <a class="o-circular-icon-button__link" href="" title="Button action">
//     <span class="o-circular-icon-button__text">Button action</span>
//     <svg class="o-circular-icon-button__link__icon o-icon o-icon--mail" viewBox="0 0 32 32">
//       <use xlink:href="#icon--mail"></use>
//     </svg>
//   </a>
// </div>

.o-circular-icon-button
	display 					inline-block

	&__link
		relative()
		background				rgba($blue--medium, 0.4)
		border-radius			50%
		display					block
		line-height				50%
		margin					0.5em
		padding					0.5em
		text-decoration 		none
		transition				0.2s all ease-in-out

		&__icon
			fill				$silver !important
			margin-top			3px

		&:after
			border-radius		50%
			box-shadow			0 0 0 2px $yellow
			content				""
			height				100%
			left				-7px
			opacity				0
			padding				7px
			pointer-events		none
			position			absolute
			top					-7px
			transform			scale(.8)
			transition			transform 0.2s, opacity 0.2s
			width				100%

		+ActiveFocusHover()
			background			$yellow
			outline				none

			.o-circular-icon-button__link__icon
				fill			$blue--dark !important

			&:after
				opacity			1
				transform		scale(1)

	&__text
		absolute()
		height					1px
		left					-999px
		overflow				hidden
		top						-999px
		width					1px