// @name Dropdown Lists
// @description Select inputs
// @markup
// <select class="o-dropdown-list">
//   <option value="usd" selected="">$ USD</option>
//   <option value="gbp">£ GBP</option>
//   <option value="eur">€ EUR</option>
//   <option value="cny">¥ CNY</option>
//   <option value="jpy">¥ JPY</option>
// </select>

.o-dropdown-list
	cursor					pointer
	font-size				0.75rem
	-moz-appearance			none
	padding					0.2rem
	-webkit-appearance		none

	&:focus
		outline				none