// @name Form Inputs
// @description All text inputs.
// @state :disabled, --disabled - dims the input when disabled
// @state .is-disabled, --disabled - dims the input when disabled
// @state [disabled], --disabled - dims the input when disabled
// @state .input--block - makes the input full-width
// @state .input--blue - blue input
// @state .input--blue--navy - navy blue input
// @state .input--textarea - textarea input
// @markup
// <div class="c-styleguide__note">
//   <strong>NOTE: </strong> For the purpose of this demo, all inputs have been given a bottom margin.
// </div>
// <input class="o-form__input" id="input" placeholder="placeholder text" style="margin-bottom: 1rem;" type="text"></input>
// <input class="o-form__input" disabled placeholder="placeholder text" style="margin-bottom: 1rem;" type="text"></input>
// <input class="o-form__input o-form__input--block" placeholder="placeholder text" style="margin-bottom: 1rem;" type="text"></input>
// <input class="o-form__input o-form__input--blue" placeholder="placeholder text" style="margin-bottom: 1rem;" type="text"></input>
// <input class="o-form__input o-form__input--blue--navy" placeholder="placeholder text" style="margin-bottom: 1rem;" type="text"></input>
// <textarea class="o-form__input o-form__input--textarea" placeholder="placeholder text" style="margin-bottom: 1rem;"></textarea>

.o-form__input
	background					rgba($white, 0.75)
	border						1px solid $grey--light-1
	border-radius				0.25rem
	box-shadow					none
	display						block
	font-size					0.75rem
	padding						0.5 * $base-spacing-unit
	transition 					$fast-transition

	&:disabled,
	&[disabled],
	&.is-disabled
		background				$grey--light-1
		cursor					not-allowed !important

		& ~ label,
		& ~ .o-form__label
			cursor				not-allowed !important

	&:focus
		background				$white
		outline					none

	&--block
		width					100%

	&--blue
		background				darken($blue--navy, 20%)
		border					1px solid lighten($blue--dark, 20%)
		color					$white

		&::-moz-placeholder
			color				rgba($silver, 0.5)

		&::-ms-input-placeholder
			color				rgba($silver, 0.5)

		&::-webkit-input-placeholder
			color				rgba($silver, 0.5)

		&:focus
			background			darken($blue--navy, 40%)
			border				1px solid lighten($blue--dark, 30%)

		&--navy
			background			transparent
			border				2px solid rgba($blue--navy, 0.25)
			color				$blue--navy

			&:focus
				background		rgba($white, 0.5)
				border			2px solid rgba($blue--navy, 0.45)

	&--textarea
		height					6rem
		resize					none