// @name Form
// @description Forms containing inputs for submitting data.
// @state .is-sending - when the form data is the process of being sent
// @state .is-sent - when the form data has been sent
// @markup
// <div class="c-styleguide__note">Standard form:</div>
// <div style="height: 15rem; position: relative;">
//   <form action="" method="post" class="o-form js-form">
//     <div class="o-form__input-group">
//       <label class="o-form__label" for="standardform">Input Field:</label>
//       <input class="o-form__input o-form__input--block" id="standardform" placeholder="placeholder text" type="text">
//       <svg viewBox="0 0 32 32" class="o-icon o-icon--check o-form__input-group__checkmark">
//         <use xlink:href="#icon--check"></use>
//       </svg>
//     </div>
//   </form>
// </div>
// <div class="c-styleguide__note">Sending Form:</div>
// <div style="height: 15rem; position: relative;">
//   <form action="" method="post" class="o-form js-form is-sending">
//     <div class="o-form__input-group is-complete">
//       <label class="o-form__label" for="sendingform">Input Field:</label>
//       <input class="o-form__input o-form__input--block" id="sendingform" placeholder="placeholder text" type="text">
//       <svg viewBox="0 0 32 32" class="o-icon o-icon--check o-form__input-group__checkmark">
//         <use xlink:href="#icon--check"></use>
//       </svg>
//     </div>
//   </form>
//   <div class="o-form__notification js-sending-form">
//     <div class="o-spinner o-spinner--white"></div>
//   </div>
// </div>
// <div class="c-styleguide__note">Sent form:</div>
// <div style="height: 15rem; position: relative;">
//   <form action="" method="post" class="o-form js-form is-sent">
//     <div class="o-form__input-group is-complete">
//       <label class="o-form__label" for="sentform">Input Field:</label>
//       <input class="o-form__input o-form__input--block" id="sentform" placeholder="placeholder text" type="text">
//       <svg viewBox="0 0 32 32" class="o-icon o-icon--check o-form__input-group__checkmark">
//         <use xlink:href="#icon--check"></use>
//       </svg>
//     </div>
//   </form>
//   <div class="o-form__notification js-sent-form">
//     <p class="o-form__notification__message">Thanks!
//       <span class="u-subheader">I'll reply with 24 hours</span>
//     </p>
//   </div>
// </div>

.o-form
	pointer-events				auto

	&.is-sending
	&.is-sent
		opacity					0.25
		pointer-events 			none

		.o-form__submit-button
			opacity				0
			pointer-events		none

		~ .o-form__notification
			display				block

	&.is-sent
		opacity 				0.15