// @name Form
// @description Forms containing inputs for submitting data.
// @state .is-sending - when the form data is the process of being sent
// @state .is-sent - when the form data has been sent
// @markup
// <form action="" method="post" class="o-form js-form">
//   <div class="o-form__input-group">
//   	<label class="o-form__label" for="forminput">Input:</label>
//   	<input class="o-form__input" id="forminput" placeholder="Input" type="text">
//   </div>
//   <div class="o-form__input-group">
//   	<input class="o-button o-form__submit-button" type="submit" value="submit">
//   </div>
// </form>
// <form action="" method="post" class="o-form js-form is-sending">
//   <div class="o-form__input-group">
//   	<label class="o-form__label" for="forminput">Input:</label>
//   	<input class="o-form__input" id="forminput" placeholder="Input" type="text">
//   </div>
//   <div class="o-form__input-group">
//   	<input class="o-button o-form__submit-button" type="submit" value="submit">
//   </div>
//   <div class="o-form__notification js-sending-form">
//     <div class="o-spinner o-spinner--white"></div>
//   </div>
// </form>
// <form action="" method="post" class="o-form js-form is-sent">
//   <div class="o-form__input-group">
//   	<label class="o-form__label" for="forminput">Input:</label>
//   	<input class="o-form__input" id="forminput" placeholder="Input" type="text">
//   </div>
//   <div class="o-form__input-group">
//   	<input class="o-button o-form__submit-button" type="submit" value="submit">
//   </div>
//   <div class="o-form__notification js-sent-form">
//     <p class="o-form__notification__message">Thanks!
//       <div class="u-subheader">I'll reply with 24 hours</div>
//     </p>
//   </div>
// </form>

.o-form
	pointer-events				auto

	&.is-sending,
	&.is-sent
		opacity					0.25

		.o-form__submit-button
			opacity				0
			pointer-events		none

		~ .o-form__notification
			display				block