// @name Form Submit Button
// @description Buttons used to submit forms.
// @markup
// <form action="" method="post" class="o-form js-form">
//   <div class="o-form__group">
//     <input type="submit" value="Email me" class="o-form__submit-button o-button is-disabled js-form-submit">
//   </div>
// </form>

.o-form__submit-button
	display 					block
	margin						0 auto
	width						7rem

	+ActiveFocusHover()
		outline					none