// @name Form Error Message
// @description A message displayed above form inputs when the input value is deemed invalid.
// @markup
// <div class="o-form__input-group is-error">
//   <label class="o-form__label" for="errorinput"></label>
//   <div class="o-form__error-message">Data is invalid</div>
//   <input class="o-form__input" id="errorinput" placeholder="invalid data" type="text">
// </div>

.o-form__error-message
	absolute()
	color						$red
	opacity						0
	right						0
	top							0
	transition					$fast-transition