// @name Form Notifications
// @description A notification displayed above a form to indicate the status of the form submission.
// @state .is-hidden - the notification is hidden
// @markup
// <div style="height: 15rem; position: relative;">
//   <form action="" method="post" class="o-form js-form is-sent">
//     <div class="o-form__input-group is-complete">
//       <label class="o-form__label" for="completeinputgroup">Complete Input Group:</label>
//       <input class="o-form__input o-form__input--block" id="completeinputgroup" placeholder="placeholder text" type="text">
//       <svg viewBox="0 0 32 32" class="o-icon o-icon--check o-form__input-group__checkmark">
//         <use xlink:href="#icon--check"></use>
//       </svg>
//     </div>
//   </form>
//   <div class="o-form__notification js-sent-form">
//     <p class="o-form__notification__message">Thanks!
//       <span class="u-subheader">I'll reply with 24 hours</span>
//     </p>
//   </div>
// </div>

.o-form__notification
	absolute()
	bottom						0
	height						100%
	left						0
	opacity						1
	pointer-events				none
	right						0
	top							0
	transition					$fast-transition
	width						100%

	&.is-hidden
		opacity					0

	&__message
		vertical-centre()
		font-size				2rem
		margin-top				-2.5rem
		text-align 				center