// @name Icons
// @description Standard icons.
// @state .o-icon--large - larger icon
// @state .o-icon--checkmark.is-checked - animate the checkmark icon
// @state .o-icon--checkmark--blue--medium - medium blue checkmark
// @state .o-icon--margin--left - icon with left margin
// @state .o-icon--margin--right - icon with right margin
// @markup
// <div class="c-styleguide__icon-container">
// <svg class="o-icon o-icon--cool" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--cool"></use>
// </svg>
// <svg class="o-icon o-icon--angle-up" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--angle-up"></use>
// </svg>
// <svg class="o-icon o-icon--angle-right" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--angle-right"></use>
// </svg>
// <svg class="o-icon o-icon--angle-down" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--angle-down"></use>
// </svg>
// <svg class="o-icon o-icon--angle-left" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--angle-left"></use>
// </svg>
// <svg class="o-icon o-icon--apple-logo" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--apple-logo"></use>
// </svg>
// <svg class="o-icon o-icon--check" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--check"></use>
// </svg>
// <svg class="o-icon o-icon--clear--day" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--clear--day"></use>
// </svg>
// <svg class="o-icon o-icon--clear--night" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--clear--night"></use>
// </svg>
// <svg class="o-icon o-icon--cloudy--day" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--cloudy--day"></use>
// </svg>
// <svg class="o-icon o-icon--cloudy--night" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--cloudy--night"></use>
// </svg>
// <svg class="o-icon o-icon--diageo-logo" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--diageo-logo"></use>
// </svg>
// <svg class="o-icon o-icon--foggy" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--foggy"></use>
// </svg>
// <svg class="o-icon o-icon--github-alt" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--github-alt"></use>
// </svg>
// <svg class="o-icon o-icon--heavy-rain" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--heavy-rain"></use>
// </svg>
// <svg class="o-icon o-icon--heavy-snow" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--heavy-snow"></use>
// </svg>
// <svg class="o-icon o-icon--light-rain" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--light-rain"></use>
// </svg>
// <svg class="o-icon o-icon--light-snow" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--light-snow"></use>
// </svg>
// <svg class="o-icon o-icon--lightening" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--lightening"></use>
// </svg>
// <svg class="o-icon o-icon--linkedin" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--linkedin"></use>
// </svg>
// <svg class="o-icon o-icon--lowe-profero-logo" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--lowe-profero-logo"></use>
// </svg>
// <svg class="o-icon o-icon--lufthansa-logo" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--lufthansa-logo"></use>
// </svg>
// <svg class="o-icon o-icon--mail" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--mail"></use>
// </svg>
// <svg class="o-icon o-icon--overcast" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--overcast"></use>
// </svg>
// <svg class="o-icon o-icon--phone" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--phone"></use>
// </svg>
// <svg class="o-icon o-icon--skype" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--skype"></use>
// </svg>
// <svg class="o-icon o-icon--village-roadshow-logo" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--village-roadshow-logo"></use>
// </svg>
// <svg class="o-icon o-icon--western-union-logo" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--western-union-logo"></use>
// </svg>
// <svg class="o-icon o-icon--checkmark" viewBox="0 0 98.5 98.5">
//   <g>
//     <polyline class="o-icon--checkmark__check" fill="none" stroke="#252525" points="26.7,54.4 40,67.7 71.8,34.8 " stroke-width="8" stroke-miterlimit="2"></polyline>
//     <g>
//       <circle class="o-icon--checkmark__circle" fill="none" stroke="#252525" stroke-width="12" stroke-miterlimit="10" cx="49.2" cy="49.2" r="49.2"></circle>
//     </g>
//   </g>
// </svg>
// <svg class="o-icon o-icon--checkmark is-checked" viewBox="0 0 98.5 98.5">
//   <g>
//     <polyline class="o-icon--checkmark__check" fill="none" stroke="#252525" points="26.7,54.4 40,67.7 71.8,34.8 " stroke-width="8" stroke-miterlimit="2"></polyline>
//     <g>
//       <circle class="o-icon--checkmark__circle" fill="none" stroke="#252525" stroke-width="12" stroke-miterlimit="10" cx="49.2" cy="49.2" r="49.2"></circle>
//     </g>
//   </g>
// </svg>
// <svg class="o-icon o-icon--cool o-icon--margin--left" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--cool"></use>
// </svg>
// <svg class="o-icon o-icon--cool o-icon--margin--right" viewBox="0 0 32 32">
// 	<use xlink:href="#icon--cool"></use>
// </svg>
// </div>

.o-icon
	background						none
	display							inline-block
	fill							currentColor
	height							1.25em
	transform						translateY(-0.1em)
	vertical-align					middle
	width							1.25em

	&--margin

		&--left
			margin-left				0.3rem

		&--right
			margin-right 			0.3rem

	&--checkmark
		opacity						0.75
		overflow					visible !important
		vertical-align				middle

		&.is-checked

			.o-icon--checkmark__check
				animation			dash 10s ease-out forwards normal
				stroke				$grey--dark-1
				stroke-dasharray	745.74853515625
				stroke-dashoffset	745.74853515625

			.o-icon--checkmark__circle
				animation			dash 1s ease-out forwards normal
				stroke				$grey--dark-1
				stroke-dasharray	745.74853515625
				stroke-dashoffset	745.74853515625

		&--blue--medium

			&.is-checked

				.o-icon--checkmark__check
					stroke			$blue--medium

				.o-icon--checkmark__circle
					stroke			$blue--medium

	&--large
		height						3rem
		width						3rem

@keyframes dash
	0%
		stroke-dashoffset			745.74853515625
	100%
		stroke-dashoffset			0