svg
	pointer-events			none

// @name Images
// @description All kinds of images on the site.
// @state .o-image--avatar - circular image with contrast and saturation filters applied
// @state .o-image--bordered - image with a border
// @state .o-image--centred - centres the block-level image
// @state .o-image--full-width - image becomes full width of the parent container
// @state .o-image--left - left-aligns the image
// @state .o-image--right - right-aligns the image
// @state .o-image--small - image is no larger than 40% of container width
// @markup
// <img class="o-image" src="https://placehold.it/200x200" alt="Alt text"></img>
// <img class="o-image o-image--avatar" src="/images/darryl-snow.jpg"></img>
// <img class="o-image o-image--bordered" src="https://placehold.it/200x200"></img>
// <img class="o-image o-image--centred" src="https://placehold.it/200x200" alt="Alt text"></img>
// <img class="o-image o-image--full-width" src="https://placehold.it/200x200" alt="Alt text"></img>
// <img class="o-image o-image--left" src="https://placehold.it/200x200" alt="Alt text"></img>
// <img class="o-image o-image--right" src="https://placehold.it/200x200" alt="Alt text"></img>
// <img class="o-image o-image--small" src="https://placehold.it/200x200" alt="Alt text"></img>

.o-image
	max-width 				100%
	vertical-align			middle

	&--avatar
		border-radius		50%
		filter				contrast(200%) saturate(30%)

	&--bordered
		border 				0.5rem solid $white
		border-radius 		0.25rem
		box-shadow 			0 0 2px rgba($grey--dark-2, 0.25)
		display 			inline-block

	&--centred
		display				block
		margin				$base-spacing-unit auto

	&--full-width
		height				auto
		width				100%

	&--left
		fl()
		margin-bottom 		1rem
		margin-right 		$base-spacing-unit
		margin-top 			1rem

	&--right
		fr()
		margin-bottom 		1rem
		margin-left 		$base-spacing-unit
		margin-top 			1rem

	&--small
		max-width			40%