// @name List Item Headers
// @description Bold headings for lists or sections
// @markup
// <h3 class="o-list-item-header">
//   <svg class="o-icon o-icon--checkmark is-checked" viewBox="0 0 98.5 98.5">
//     <g>
//       <polyline class="o-icon--checkmark__check" fill="none" stroke="#252525" points="26.7,54.4 40,67.7 71.8,34.8 " stroke-width="8" stroke-miterlimit="2"></polyline>
//       <g>
//         <circle class="o-icon--checkmark__circle" fill="none" stroke="#252525" stroke-width="12" stroke-miterlimit="10" cx="49.2" cy="49.2" r="49.2"></circle>
//       </g>
//     </g>
//   </svg>
//   Header
// </h3>

.o-list-item-header
	row()
	font-size				0.75rem
	font-weight 			600
	text-transform 			uppercase

	.o-icon
		font-size 			1.25rem
		margin-right 		0.5rem