// @name List Items
// @description List items contain a header and a paragraph of text
// @state .o-list-item--blue--medium Medium blue coloured text
// @markup
// <li class="o-list-item">
//   <h3 class="o-list-item__header">
//     <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve" class="o-list-item__header__icon o-icon o-icon--checkmark js-checkmark is-checked">
//       <g>
//         <polyline fill="none" points="26.7,54.4 40,67.7 71.8,34.8 " stroke-width="8" stroke-miterlimit="2" class="o-icon--checkmark__check"></polyline>
//         <g>
//           <circle fill="none" stroke-width="12" stroke-miterlimit="10" cx="49.2" cy="49.2" r="49.2" class="o-icon--checkmark__circle"></circle>
//         </g>
//       </g>
//     </svg>List Item Header
//   </h3>
//   <p class="o-list-item__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
// </li>
// <li class="o-list-item o-list-item--blue--medium">
//   <h3 class="o-list-item__header">
//     <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve" class="o-list-item__header__icon o-icon o-icon--checkmark js-checkmark is-checked">
//       <g>
//         <polyline fill="none" points="26.7,54.4 40,67.7 71.8,34.8 " stroke-width="8" stroke-miterlimit="2" class="o-icon--checkmark__check"></polyline>
//         <g>
//           <circle fill="none" stroke-width="12" stroke-miterlimit="10" cx="49.2" cy="49.2" r="49.2" class="o-icon--checkmark__circle"></circle>
//         </g>
//       </g>
//     </svg>List Item Header
//   </h3>
//   <p class="o-list-item__content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
// </li>

.o-list-item
	col(12)
	align-items				center
	font-size				1rem
	list-style 				none
	padding 				0.5 * $base-spacing-unit
	text-align				left

	+bp($screen-sm-min)
		col(6)

	&__header
		row()
		align-items			center
		font-size			0.75rem
		font-weight 		600
		justify-content 	center
		text-transform 		uppercase

		&__icon
			@extends		.o-icon--margin--right
			font-size 		1.25rem

	&__content
		font-weight 		300
		line-height 		1.5

	&--blue--medium
		color				$blue--medium