// @name Morph Buttons
// @description A button that can morph into a modal overlay.
// @markup
// <div style="height:20rem; position:relative; width:100%;">
//   <div class="o-morph-button js-morph-button">
//     <button type="button" class="o-morph-button__button o-button js-morph-button-open">Morph button</button>
//     <div class="o-morph-button__dialog js-morph-dialog">
//       <div class="o-morph-button__dialog__content">
//         <button type="button" class="o-morph-button__dialog__close-button o-button o-button--icon js-morph-button-close">×</button>
//         Modal content
//       </div>
//     </div>
//   </div>
// </div>

.o-morph-button
	absolute()
	// right									0.5rem
	// top										0.5rem
	height 									100%
	transition								$slow-transition
	width									100%
	z-index									4

	&:before
		absolute()
		background							rgba($black, 0.5)
		content								""
		height								100%
		left								0
		opacity								0
		pointer-events						none
		top									0
		transition							0.15s 0.5s all ease-in-out
		width								100%
		z-index								800

	&__button
		absolute()
		background-color 					$light-grey-1
		border 								none
		border-radius						999px
		color								$dark-grey-1
		opacity								1
		right 								0.5rem
		top									0.5rem
		transition							opacity 0.1s 0.5s, color 0.15s ease-in-out, background-color 0.15s ease-in-out
		z-index								1000

		+ActiveFocusHover()
			outline 						none

	&__dialog
		absolute()
		background							$white
		border-radius						999px
		color								$blue--navy
		height								35px
		opacity								0
		overflow 							hidden
		right								0.5rem
		top									0.5rem
		transition							opacity 0.1s 0.5s, width 0.5s 0.1s, height 0.5s 0.1s, top 0.5s 0.1s, right 0.5s 0.1s, border-radius 0.5s 0.1s
		transition-timing-function			cubic-bezier(0.7,0,0.3,1)
		width								120px
		z-index 							900

		&__content
			height							0
			opacity							0
			padding							$base-spacing-unit
			transition						opacity 0.15s
			visibility						hidden

		&__close-button
			absolute()
			// display							block
			right							0
			top								0

	&.is-hidden
		opacity								0
		pointer-events						none

		.o-morph-button

			&:before
				display						none

			&__button
				display						none

			&__dialog
				display						none

	&.is-open

		&:before
			opacity							1
			pointer-events					auto
			transition						opacity 0.1s

		.o-morph-button

			&__button
				background-color			$white
				color						$dark-grey-1
				opacity						0
				pointer-events				none
				transition					opacity 0.1s 0.15s

			&__dialog
				border-radius				0.25rem
				height						340px
				opacity						1
				pointer-events				auto
				right						calc(50% - 170px)
				top							calc(50% - 170px)
				transition					opacity 0.5s 0.1s, width 0.5s 0.1s, height 0.5s 0.1s, top 0.5s 0.1s, right 0.5s 0.1s, border-radius 0.5s 0.1s
				transition-timing-function	cubic-bezier(0.7,0,0.3,1)
				width						340px
				z-index						1900

				&__content
					height					100%
					opacity					1
					transition				opacity 0.3s 0.5s, visibility 0s, height 0s 0.3s
					visibility				visible