// @name Morph Buttons
// @description A button that can morph into a modal overlay.
// @state .is-hidden - the morph button is not displayed
// @state .is-open - the morph button dialog is opened via a transition from the button to the dialog
// @markup
// <div style="height: 20rem; position: relative;">
//   <div class="o-morph-button js-morph-button">
//     <button type="button" class="o-button o-button--rounded o-morph-button__button js-morph-button-open">Morph button</button>
//     <div class="o-dialog o-morph-button__dialog js-morph-dialog">
//       <div class="o-dialog__content">
//         <button type="button" class="o-dialog__close-button o-button o-button--icon js-morph-button-close">×</button>
//         Modal content
//       </div>
//     </div>
//   </div>
// </div>
// <div style="height: 20rem; position: relative;">
//   <div class="o-morph-button js-morph-button is-hidden">
//     <button type="button" class="o-button o-button--rounded o-morph-button__button js-morph-button-open">Morph button</button>
//     <div class="o-dialog o-morph-button__dialog js-morph-dialog">
//       <div class="o-dialog__content">
//         <button type="button" class="o-dialog__close-button o-button o-button--icon js-morph-button-close">×</button>
//         Modal content
//       </div>
//     </div>
//   </div>
// </div>
// <div style="height: 20rem; position: relative;">
//   <div class="o-morph-button js-morph-button is-open">
//     <button type="button" class="o-button o-button--rounded o-morph-button__button js-morph-button-open">Morph button</button>
//     <div class="o-dialog o-morph-button__dialog js-morph-dialog">
//       <div class="o-dialog__content">
//         <button type="button" class="o-dialog__close-button o-button o-button--icon js-morph-button-close">×</button>
//         Modal content
//       </div>
//     </div>
//   </div>
// </div>

.o-morph-button
	absolute()
	height 									100%
	transition								$slow-transition
	width									100%
	z-index									getZIndex("morphButton")

	&:before
		absolute()
		background							rgba($black, 0.5)
		content								""
		height								100%
		left								0
		opacity								0
		pointer-events						none
		top									0
		transition							0.15s 0.5s all ease-in-out
		width								100%
		z-index								getZIndex("morphButtonOverlay")

	&__button
		absolute()
		border 								none
		opacity								1
		right 								0.5rem
		top									0.5rem
		transition							opacity 0.1s 0.5s, color 0.15s ease-in-out, background-color 0.15s ease-in-out
		z-index								getZIndex("morphButtonButton")

		+ActiveFocusHover()
			outline 						none

	&__dialog
		absolute()
		border-radius						999px
		height								35px
		left								auto
		margin								0
		opacity								0
		right								0.5rem
		top									0.5rem
		transition							opacity 0.1s 0.5s, width 0.5s 0.1s, height 0.5s 0.1s, top 0.5s 0.1s, right 0.5s 0.1s, border-radius 0.5s 0.1s
		transition-timing-function			cubic-bezier(0.7,0,0.3,1)
		width								120px

		&__content
			height							0
			opacity							0
			transition						opacity 0.15s
			visibility						hidden

	&.is-hidden
		opacity								0
		pointer-events						none

		.o-morph-button

			&:before
				display						none

			&__button
				display						none

			&__dialog
				display						none

	&.is-open

		&:before
			opacity							1
			pointer-events					auto
			transition						opacity 0.1s

		.o-morph-button

			&__button
				background-color			$white //Should be the same as the dialog background
				opacity						0
				pointer-events				none
				transition					opacity 0.1s 0.15s

			&__dialog
				border-radius				0.25rem
				height						340px
				opacity						1
				pointer-events				auto
				right						calc(50% - 160px)
				top							calc(50% - 170px)
				transition					opacity 0.5s 0.1s, width 0.5s 0.1s, height 0.5s 0.1s, top 0.5s 0.1s, right 0.5s 0.1s, border-radius 0.5s 0.1s
				transition-timing-function	cubic-bezier(0.7,0,0.3,1)
				width						320px
				z-index						getZIndex("morphButtonDialog")

				&__content
					height					100%
					opacity					1
					transition				opacity 0.3s 0.5s, visibility 0s, height 0s 0.3s
					visibility				visible