// @name Page Transition Loading Animations
// @description A loading animation to be displayed during page transitions.
// @state .is-loading Show the page transition animation
// @markup
// <div class="o-page-transition is-loading" style="height:10rem;">
//   <div class="o-page-transition__overlay" style="position:absolute;">
//   </div>
// </div>

.o-page-transition
	height 					100%

	&__initial-overlay
		fixed()
		background 			$white
		height				100%
		left				0
		opacity 			1
		top					0
		transition 			$fast-transition
		width				100%
		z-index 			getZIndex("pageTransitionInitialOverlay")

		&.is-hidden
			opacity 		0

	&__page-container
		display 			none
		min-height 			100%

		&.is-shown
			display 		block

	&__overlay
		fixed()
		height 				100%
		left				0
		top					0
		visibility 			hidden
		width				100%
		z-index 			getZIndex("pageTransitionOverlay")

		&.is-shown
			visibility 		visible

		&__svg
			absolute()
			left			0
			pointer-events 	none
			top				0

			&__path
				fill		$white

		&:after
		&:before
			absolute()
			border-radius 	50%
			content 		""
			height 			1rem
			left			50%
			margin			-0.5rem 0 0 -0.5rem
			opacity 		0
			top				50%
			transition 		opacity 0.15s, visibility 0s 0.15s
			width			1rem
			visibility 		hidden
			z-index 		getZIndex("pageTransitionLoadingAnimation")

		&:after
			animation		moveRight 0.6s linear infinite alternate
			background 		$blue
			transform 		translateX(-1rem)

		&:before
			animation		moveLeft 0.6s linear infinite alternate
			background 		$blue--dark
			transform 		translateX(1rem)

	&.is-loading

		.o-page-transition__overlay

			&:after
			&:before
				opacity 	1
				transition 	opacity 0.3s
				visibility 	visible

@keyframes moveLeft
	to
		transform 			translateX(-1rem)

@keyframes moveRight
	to
		transform 			translateX(1rem)