// @name Sections
// @description Sections of a page.
// @state .o-section--full-height - Make the section the full height of the viewport
// @state .o-section--padding-top - A section with top-padding (i.e. one that proceeds other sections)
// @state .o-section--blue - Blue background
// @state .o-section--cerulean-blue - Cerulean blue background
// @state .o-section--dark-blue - Dark blue background
// @state .o-section--navy-blue - Navy blue background
// @state .o-section--sky-blue - Sky blue section
// @state .o-section--white - White section
// @markup
// <div style="padding-bottom:100px">
//
//   <section class="o-section o-section--white">
//     <div class="o-section__content">White section</div>
//     <svg class="o-section__end" preserveAspectRatio="none" role="separator" viewBox="0 0 612 100" version="1.1" width="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
//       <g>
//         <path d="M612,0H0.912C306.459,100,489.777,100,612,0z"></path>
//       </g>
//     </svg>
//   </section>
//
//   <section class="o-section o-section--blue o-section--padding-top">
//     <div class="o-section__content">Blue section with top padding</div>
//     <svg class="o-section__end" preserveAspectRatio="none" role="separator" viewBox="0 0 612 100" version="1.1" width="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
//       <g>
//         <path d="M612,0H0.912C306.459,100,489.777,100,612,0z"></path>
//       </g>
//     </svg>
//   </section>
//
//   <section class="o-section o-section--cerulean-blue o-section--padding-top">
//     <div class="o-section__content">Cerulean blue section with top padding</div>
//     <svg class="o-section__end" preserveAspectRatio="none" role="separator" viewBox="0 0 612 100" version="1.1" width="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
//       <g>
//         <path d="M612,0H0.912C306.459,100,489.777,100,612,0z"></path>
//       </g>
//     </svg>
//   </section>
//
//   <section class="o-section o-section--dark-blue o-section--padding-top">
//     <div class="o-section__content">Dark blue section with top padding</div>
//     <svg class="o-section__end" preserveAspectRatio="none" role="separator" viewBox="0 0 612 100" version="1.1" width="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
//       <g>
//         <path d="M612,0H0.912C306.459,100,489.777,100,612,0z"></path>
//       </g>
//     </svg>
//   </section>
//
//   <section class="o-section o-section--navy-blue o-section--padding-top">
//     <div class="o-section__content">Navy blue section with top padding</div>
//     <svg class="o-section__end" preserveAspectRatio="none" role="separator" viewBox="0 0 612 100" version="1.1" width="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
//       <g>
//         <path d="M612,0H0.912C306.459,100,489.777,100,612,0z"></path>
//       </g>
//     </svg>
//   </section>
//
//   <section class="o-section o-section--sky-blue o-section--padding-top">
//     <div class="o-section__content">Sky blue section with top padding</div>
//     <svg class="o-section__end" preserveAspectRatio="none" role="separator" viewBox="0 0 612 100" version="1.1" width="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
//       <g>
//         <path d="M612,0H0.912C306.459,100,489.777,100,612,0z"></path>
//       </g>
//     </svg>
//   </section>
//
//   <section class="o-section o-section--blue o-section--padding-top o-section--full-height">
//     <div class="o-section__content">Full-height blue section with top padding</div>
//     <svg class="o-section__end" preserveAspectRatio="none" role="separator" viewBox="0 0 612 100" version="1.1" width="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
//       <g>
//         <path d="M612,0H0.912C306.459,100,489.777,100,612,0z"></path>
//       </g>
//     </svg>
//   </section>
//
// </div>

.o-section
	relative()

	&--full-height
		height				100vh

		.o-section__content__container
			vertical-centre()
			max-height		100vh

	&--padding-top
		padding-top			100px

	&__content
		row()
		height				100%
		padding				$base-spacing-unit 10%

		&__container
			overflow		hidden

	// @name Section Headers
	// @description The titles for each section
	// @state .o-section__header--blue--medium Medium blue colour
	// @markup
	// <h2 class="o-section__header">Section Header</h2>
	// <h2 class="o-section__header o-section__header--blue--medium">Medium Blue Section Header</h2>
	// <h2 class="o-section__header o-section__header--white">White Section Header</h2>

	&__header
		col(12)
		font-size			2rem
		margin-bottom		$base-spacing-unit
		text-align			center

		&--blue--medium
			color			$blue--medium

		&--grey--dark
			color			$grey--dark-1

		&--white
			color			$white

	&__end
		absolute()
		bottom				-100px
		fill				transparent
		height				100px
		left				0
		pointer-events		none
		width				100%
		z-index				getZIndex("sectionEnd")

	&--blue
		background-color	$blue

		.o-section__end
			fill			@background-color

	&--cerulean-blue
		background-color	$blue--cerulean

		.o-section__end
			fill			@background-color

	&--dark-blue
		background-color	$blue--dark

		.o-section__end
			fill			@background-color

	&--navy-blue
		background-color	$blue--navy

		.o-section__end
			fill			@background-color

	&--sky-blue
		background-color	$blue--sky

		.o-section__end
			fill			@background-color

	&--white
		background-color	$white

		.o-section__end
			fill			@background-color