.c-blog {
  background: map-get($colors, charcoal);
  max-height: 65rem;
  overflow: hidden;
  position: relative;

  &.is-hidden {
    max-height: 0;
    padding: 0;
    transition: 0.2s all ease-in-out;
  }

  &-title {
    color: map-get($colors, greyBlue);
    font-family: $bodyTypeface;
    font-size: 2em;
    font-weight: $bodyFontWeight;
    opacity: 1;
    transition: 0.2s opacity ease-in-out;

    &.is-hidden {
      opacity: 0;
    }
  }

  &-article-list {
    border-color: rgba(map-get($colors, greyBlue), 0.5);
    border-radius: $borderRadius;
    border-style: dotted;
    border-width: 1px;
    margin: 0 auto;
    opacity: 1;
    transition: 0.2s ease-in-out;

    @media (min-width: map-get($breakpoints, small)) {
      width: 60vw;
    }

    &.is-hidden {
      opacity: 0;
    }

    &-item {
      border-bottom-color: rgba(map-get($colors, greyBlue), 0.25);
      border-bottom-style: dotted;
      border-bottom-width: 1px;

      &:last-of-type {
        border: none;
      }
    }
  }

  &-link {
    color: map-get($colors, greyBlue);
    display: block;
    font-size: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}
