.c-hero {
  background: $heroBackgroundColor;
  box-shadow: 0 10px 10px rgba(map-get($colors, black),0.05);
  position: relative;
  text-align: center;
  z-index: map-get($zIndices, hero);

  &-image {
    margin-top: -1.5em;
    width: 100%;

    &-wrapper {
      border-radius: 50%;
      height: 2 * $heroImageSize;
      overflow: hidden;
      width: 2 * $heroImageSize;
    }
  }

  &-tagline {
    color: lighten(map-get($colors, pink), 10%);
    font-size: 2em;
    letter-spacing: 1px;
  }

  &-title {
    background-image: $gradient;
    font-family: $headingTypeface;
    font-weight: $headingFontWeight;
    font-size: 6em;
    text-shadow: 1px 4px 6px rgba(map-get($colors, white),0.2);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
