.c-hero {
  background: $heroBackgroundColor;
  box-shadow: 0 10px 10px rgba(map-get($colors, black),0.05);
  position: relative;
  text-align: center;
  z-index: map-get($zIndices, hero);

  &-image {
    width: 100%;

    &-wrapper {
      border-radius: 50%;
      height: 2 * $heroImageSize;
      overflow: hidden;
      width: 2 * $heroImageSize;
    }
  }

  &-music-link {
    background: linear-gradient( 0deg, lighten(map-get($colors, blue), 30%) 25%, map-get($colors, pink) 100%);
    line-height: 2 * $heroImageSize;

    &-icon {
      fill: map-get($colors, white);
    }

  }

  &-tagline {
    color: lighten(map-get($colors, pink), 10%);
    font-size: 2em;
    letter-spacing: 1px;
  }

  &-title {
    background-image: $gradient;
    font-family: $headingTypeface;
    font-weight: $headingFontWeight;
    font-size: 6em;
    text-shadow: 1px 4px 6px rgba(map-get($colors, white),0.2);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &-contact-list {

    &-icon {
      fill: lighten(desaturate(map-get($colors, blue), 40%), 20%);
    }

  }
}
