.c-image-flipper {

  &-wrapper {
    position: relative;
  }

  &:hover .c-image-flipper-front {
    transform: rotateY(180deg);
  }

  &:hover .c-image-flipper-back {
    transform: rotateY(0deg);
  }

  &-front,
  &-back {
    backface-visibility: hidden;
    left: 0;
    position: absolute;
    top: 0;
    transform-style: preserve-3d;
    transition: 0.6s;
  }

  &-front {
    transform: rotateY(0deg);
    z-index: 2;
  }

  &-back {
    transform: rotateY(180deg);
  }

}
