doctype
html(lang="en")

	include ../includes/header
	include ../includes/mixins

	body

		include ../../images/symbol-defs.svg
		
		main
		
			noscript
				p It seems you have JavaScript turned off, which is rather unfortunate. If you have any problems using this website then please let me know: 
					a(href="mailto:darryl@yourweb.expert", title="Email me") darryl@yourweb.expert

			block content

			include ../includes/footer