.o-icon {
  pointer-events: none;
  width: 2em;
  display: inline-block;
  vertical-align: middle;

  &--large {
    font-size: 2em;
  }

  &-sprite {
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 0;
  }

}
