.o-link {
  opacity: 0.75;
  text-decoration: none;
  transition: 0.2s all ease-in-out;

  &--icon {
    display: inline-block;
    padding: $margin;
    position: relative;

    &:after {
      background: rgba(map-get($colors, blue), 0.1);
      border-radius: 50%;
      content: '';
      height: 4em;
      left: 50%;
      margin: -2em 0 0 -2em;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 50%;
      width: 4em;
    }

    &-svg {
      fill: lighten(desaturate(map-get($colors, blue), 40%), 20%);
    }

    &--clicked:after {
      animation: link-icon-click-animation 0.3s forwards;
    }

  }

  &:active,
  &:focus,
  &:hover {
    opacity: 1;
  }

}
