// @name Text Utilities
// @description Helper classes for styling text
// @state .u-caps - Capitalise all letters
// @state .u-centred - Centre-align the text
// @state .u-left-aligned - Left-align the text
// @state .u-right-aligned - Right-align the text
// @state .u-small - Make the text small
// @state .u-subheader - Make the text 40% of the size of the parent
// @markup
// <p class="u-caps">Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
// <p class="u-centred">Galleon Yellow Jack heave to quarter pressgang coffer hogshead no prey, no pay snow mutiny. Gold Road nipper rum barque wherry Chain Shot holystone strike colors tender shrouds. Square-rigged smartly reef sails provost run a shot across the bow landlubber or just lubber transom hardtack matey case shot.</p>
// <p class="u-left-aligned">Pirate avast belaying pin snow fore jolly boat ballast hearties hands clap of thunder. Salmagundi red ensign heave to cackle fruit fire ship lookout yard reef wench killick. Crimp main sheet sloop wench broadside yard driver mutiny Brethren of the Coast Pieces of Eight.</p>
// <p class="u-right-aligned">No prey, no pay doubloon hulk maroon Cat o'nine tails Corsair tender grog belay deadlights. Chase stern bowsprit gaff coxswain sloop draught Sink me interloper Pieces of Eight. Dead men tell no tales American Main hardtack lugsail draft league bilge heave to ye strike colors.</p>
// <p class="u-small">Jolly boat interloper scallywag piracy pressgang lad jack wherry sloop hogshead. Square-rigged lass knave rum yard squiffy heave to furl swing the lead reef. Bilge reef sails holystone keelhaul lee tender nipper run a shot across the bow marooned port.</p>
// <h2>Title<div class="u-subheader">Subheader</div></h2>

.u-caps
	text-transform		uppercase

.u-centred
	text-align			center

.u-highlight
	background			none
	opacity				0.5

	&--blue
		color			darken($blue, 20%)
		font-weight 	600
		opacity 		1

.u-left-aligned
	text-align			left

.u-right-aligned
	text-align			right

.u-small
	font-size			0.85em

.u-subheader
	font-size			0.4em
	font-weight			300
	margin				0.05em 0