.o-section
	relative()
	height			100vh
	overflow		hidden

	&__content
		vertical-centre()

	&__top
		absolute()
		fill		$red
		left		0
		top			-100px
		width		100%

	&--dark-blue
		background	darken($dark-blue, 30%)