.o-section
	relative()

	&--full-height
		height				100vh

		.o-section__content__container
			vertical-centre()
			max-height		100vh

	&--padding-top
		padding-top			100px

	&__content
		row()
		height				100%
		padding				$base-spacing-unit 10%
		text-align			center

		&__container
			overflow		hidden

	&__header
		col(12)
		color						$blue--navy
		font-size					2rem
		margin-bottom				$base-spacing-unit
		text-align					center

	&__end
		absolute()
		bottom				-100px
		left				0
		pointer-events		none
		width				100%
		z-index				2

	&--blue
		background-color	$blue

		.o-section__end
			fill			@background-color

	&--cerulean-blue
		background-color	$blue--cerulean

		.o-section__end
			fill			@background-color

	&--dark-blue
		background-color	$blue--dark

		.o-section__end
			fill			@background-color

	&--navy-blue
		background-color	$blue--navy

		.o-section__end
			fill			@background-color

	&--sky-blue
		background-color	$blue--sky

		.o-section__end
			fill			@background-color

	&--white
		background-color	$white

		.o-section__end
			fill			@background-color