// @name Blog Component
// @description Section containing a list of my 5 latest blog posts. If the blog API cannot be reached, this section will not be displayed.
// @markup
// <section data-nav-title="Read my thoughts" data-wait-for-load="true" id="blog" class="o-section o-section--padding-top o-section--dark-blue c-blog__section js-scroll-point js-blog">
//   <div class="o-section__content__container">
//     <div class="c-blog o-section__content">
//       <ul class="o-blog-post-list c-blog__list js-blog-list">
//         <li class="o-blog-post-list__item c-blog__list__item"><a href="" title="Read more" class="o-blog-post-list__item__link c-blog__list__item__link">
//           <h2 class="c-blog-post-list__item__heading c-blog__list__item__heading">Bleh</h2>
//           <div class="o-blog-post-list__item__date c-blog__list__item__date">25<sup>th</sup>&nbsp;Dec</div></a></li>
//         <li class="o-blog-post-list__item c-blog__list__item"><a href="" title="Read more" class="o-blog-post-list__item__link c-blog__list__item__link">
//           <h2 class="c-blog-post-list__item__heading c-blog__list__item__heading">Bleh</h2>
//           <div class="o-blog-post-list__item__date c-blog__list__item__date">25<sup>th</sup>&nbsp;Dec</div></a></li>
//         <li class="o-blog-post-list__item c-blog__list__item"><a href="" title="Read more" class="o-blog-post-list__item__link c-blog__list__item__link">
//           <h2 class="c-blog-post-list__item__heading c-blog__list__item__heading">Bleh</h2>
//           <div class="o-blog-post-list__item__date c-blog__list__item__date">25<sup>th</sup>&nbsp;Dec</div></a></li>
//       </ul>
//     </div>
//   </div>
//   <svg preserveAspectRatio="none" role="separator" viewBox="0 0 612 100" version="1.1" width="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="o-section__end">
//     <g>
//       <path d="M612,0H0.912C306.459,100,489.777,100,612,0z"></path>
//     </g>
//   </svg>
// </section>

.c-blog

	&__section
		height								0
		opacity 							0
		transform 							translateY(-100%)
		transition 							0.15s height ease-in-out 0s, 0.15s transform ease-in-out 0.15s, 0.15s z-index ease-in-out 0.3s, 0.3s opacity ease-in-out 0.3s
		z-index 							getZIndex("blogSection")

		&.is-loaded
			height							auto
			opacity 						1
			transform 						translateY(0)
			z-index 						getZIndex("blogSectionLoaded")

			.c-blog__list
				opacity 					1

	&__list
		opacity 							0