$module-colour = $blue

.c-clients
	background						$module-colour

	&__header
		color						$white

	&__list

		&__item
			border-bottom			1px dotted $blue--cerulean
			border-right			1px dotted $blue--cerulean

			&:nth-of-type(n+5)
				border-bottom		none

			&:nth-of-type(2n)
				border-right		none

			+bp($screen-sm-min)

				&:nth-of-type(n+5)
					border-bottom	1px dotted $blue--cerulean

				&:nth-of-type(2n)
					border-right	1px dotted $blue--cerulean

				&:nth-of-type(n+4)
					border-bottom	none

				&:nth-of-type(3n)
					border-right	none

			&__logo
				fill				$white

				&.is-shown
					width			8rem