$module-colour = $blue--cerulean

.c-cost
	background							$module-colour
	color								$blue--sky

	&__header
		color							$white

	&__text
		margin-top						0

	.o-inline-link
		relative()
		color							$blue--sky
		perspective						600px
		perspective-origin				50% 100%
		transition						all 0.2s ease-in-out

		&:before
			background-color			$white

		&:after
			border-bottom				1px solid $white

		+ActiveFocusHover()
			color						$blue--navy

	&__calculator
		row()
		align-items						center
		justify-content					center
		margin-top						$base-spacing-unit

		&__slider
			col(12)
			padding-bottom				0.5rem

			+bp($screen-sm-min)
				col(7)
				padding-bottom			0
				padding-right			0.5rem

			&__label
				cursor					pointer
				display					block
				font-weight				300
				margin-bottom			$base-spacing-unit

				&__heading
					color				$blue--dark
					display				block
					font-size			0.75rem
					font-weight			500
					text-transform		uppercase

				&__text
				&__value
					font-size			1.5rem

			&__notice
				color					$blue--dark
				font-size				0.75rem
				opacity					0
				transition				$fast-transition

				&.is-shown
					opacity				1

		&__results
			col(12)
			border-top					1px dashed $blue--sky
			padding-top					0.5rem

			+bp($screen-sm-min)
				col(5)
				border-left				1px dashed $blue--sky
				border-top				0
				padding-left			0.5rem
				padding-top				0

			&__heading
				color					$blue--dark
				display					block
				font-size				0.75rem
				font-weight				500
				text-transform			uppercase

			&__currency
				background				rgba($blue--sky, 0.1)
				border					2px solid rgba($blue--navy, 0.5)
				color					$blue--sky

				&:focus
					background			rgba($blue--sky, 0.2)

			&__value
				color					$white
				font-weight				500
				margin					0

				&__symbol
					display				inline-block
					font-size			1rem
					vertical-align		-webkit-baseline-middle

				&__number
					font-size			3rem

			&__hourly-rate
				margin					0

	&__footer
		display 						block
		margin							2 * $base-spacing-unit 0 0 0
		text-align 						center
		width							100%

		&__button
			border-color 				$white
			color						$white
			opacity 					0.5
			transition 					$fast-transition

			+ActiveFocusHover()
				background				$white
				color					$module-colour
				opacity 				1