// @name Cost Component
// @description Section describing my rates and how I charge. Exchange rates are pulled from the openexchange API.
// @markup
// <section data-nav-title="How much I charge" id="cost" class="o-section o-section--cerulean-blue js-full-height-section">
//   <div class="o-section__content__container">
//     <div aria-labelledby="cost__header" class="c-cost o-section__content">
//       <h2 id="cost__header" class="o-section__header o-section__header--white">How much?</h2>
//       <p class="c-cost__text">My fees are based on the&nbsp; <strong>project timeline and requirements</strong>&nbsp;, roughly calculated on a weekly rate. If you <a href="mailto:darryl@yourweb.expert" title="Email me about your project" class="o-inline-link o-inline-link--blue--sky">let me know</a>&nbsp;your budget and requirements then we can discuss what can be achieved within your timeframe. I invoice weekly, and my rate becomes cheaper for longer projects. I require a&nbsp;<strong>33%</strong>&nbsp;up-front deposit for new clients. To give you a rough idea of how much I might charge for your project&hellip;</p>
//       <div class="c-cost__calculator js-calculator">
//         <div class="c-cost__calculator__slider">
//           <label for="time-slider" class="c-cost__calculator__slider__label"><small class="c-cost__calculator__slider__label__heading">project length:</small><span class="c-cost__calculator__slider__label__value js-time-slider-value js-time">1</span>&nbsp;<span class="c-cost__calculator__slider__label__text js-time-slider-text">week</span></label>
//           <input id="time-slider" max="12" min="1" step="1" type="range" value="1" class="o-slider c-cost__calculator__slider__control js-time-slider">
//           <p class="c-cost__calculator__slider__notice js-slider-notice">(my minimum weekly rate is about <span class="c-cost__calculator__slider__notice__currency js-currency-symbol">$</span><span class="c-cost__calculator__slider__notice__value js-min-rate">2,000</span>)</p>
//         </div>
//         <div class="c-cost__calculator__results">
//           <div class="c-cost__calculator__results__content">
//             <p class="c-cost__calculator__results__heading">weekly rate:</p>
//             <select class="o-dropdown-list o-button o-button--blue--sky js-currency">
//               <option value="usd" selected>$ USD</option>
//               <option value="gbp">£ GBP</option>
//               <option value="eur">€ EUR</option>
//               <option value="cny">¥ CNY</option>
//               <option value="jpy">¥ JPY</option>
//             </select>
//             <p class="c-cost__calculator__results__value"><span class="c-cost__calculator__results__value__symbol js-currency-symbol">$</span><span class="c-cost__calculator__results__value__number js-rate">3,000</span></p>
//             <p class="c-cost__calculator__results__hourly-rate">(<span class="c-cost__calculator__results__hourly-rate__symbol js-currency-symbol">$</span><span class="c-cost__calculator__results__hourly-rate__number js-hourly-rate">75</span>&nbsp;/ hour)</p>
//           </div>
//         </div>
//       </div>
//       <aside class="c-cost__footer"><a data-page="contract" href="/contract" title="" class="o-button o-button--ghost o-button--ghost--white js-trigger-page-transition">Read my contract</a></aside>
//     </div>
//   </div>
//   <svg preserveAspectRatio="none" role="separator" viewBox="0 0 612 100" version="1.1" width="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="o-section__end">
//     <g>
//       <path d="M612,0H0.912C306.459,100,489.777,100,612,0z"></path>
//     </g>
//   </svg>
// </section>
// <div class="c-styleguide__spacer-element"></div>

$module-colour = $blue--cerulean

.c-cost
	background							$module-colour
	color								$blue--sky
	text-align 							center

	&__text
		margin-top						0

	&__calculator
		row()
		align-items						center
		justify-content					center
		margin-top						$base-spacing-unit

		&__slider
			col(12)
			padding-bottom				0.5rem

			+bp($screen-sm-min)
				col(7)
				padding-bottom			0
				padding-right			0.5rem

			&__label
				cursor					pointer
				display					block
				font-weight				300
				margin-bottom			$base-spacing-unit

				&__heading
					color				$blue--dark
					display				block
					font-size			0.75rem
					font-weight			500
					text-transform		uppercase

				&__text
				&__value
					font-size			1.5rem

			&__notice
				color					$blue--dark
				font-size				0.75rem
				opacity					0
				transition				$fast-transition

				&.is-shown
					opacity				1

		&__results
			col(12)
			border-top					1px dashed $blue--sky
			padding-top					0.5rem

			+bp($screen-sm-min)
				col(5)
				border-left				1px dashed $blue--sky
				border-top				0
				padding-left			0.5rem
				padding-top				0

			&__heading
				color					$blue--dark
				display					block
				font-size				0.75rem
				font-weight				500
				text-transform			uppercase

			&__value
				color					$white
				font-weight				500
				margin					0

				&__symbol
					display				inline-block
					font-size			1rem
					vertical-align		-webkit-baseline-middle

				&__number
					font-size			3rem

			&__hourly-rate
				margin					0

	&__footer
		display 						block
		margin							2 * $base-spacing-unit 0 0 0
		text-align 						center
		width							100%