$module-colour = $blue--cerulean

.c-cost
	background							$module-colour
	color								$blue--sky

	&__header
		color							$white

	&__text
		margin-top						0

	.o-inline-link
		relative()
		color							$blue--sky
		perspective						600px
		perspective-origin				50% 100%
		transition						all 0.2s ease-in-out

		&:before
			background-color			$white

		&:after
			border-bottom				1px solid $white

		+ActiveFocusHover()
			color						$blue--navy

	&__calculator
		row()
		align-items						center
		justify-content					center
		margin-top						$base-spacing-unit

		&__slider
			col(12)
			padding-bottom				0.5rem

			+bp($screen-sm-min)
				col(7)
				padding-bottom			0
				padding-right			0.5rem

			&__label
				cursor					pointer
				display					block
				font-weight				300
				margin-bottom			$base-spacing-unit

				&__heading
					color				$blue--dark
					display				block
					font-size			0.75rem
					font-weight			500
					text-transform		uppercase

				&__text
				&__value
					font-size			1.5rem

			&__control
				background				none
				-webkit-appearance		none
				width					100%

				&::-webkit-slider-thumb
					-webkit-appearance	none

				&:focus
					outline				none

				&::-ms-track
					background			transparent
					border-color		transparent
					color				transparent
					cursor				pointer
					width				100%

				&::-webkit-slider-thumb
					background			$blue--sky
					border				none
					border-radius		50%
					cursor				pointer
					height				1rem
					margin-top			-0.25rem
					-webkit-appearance	none
					width				1rem

				&::-moz-range-thumb
					background			$blue--sky
					border				none
					border-radius		50%
					cursor				pointer
					height				1rem
					width				1rem

				&::-ms-thumb
					background			$blue--sky
					border				none
					border-radius		50%
					cursor				pointer
					height				1rem
					width				1rem

				&::-webkit-slider-runnable-track
					background			$blue--navy
					border-radius		999px
					cursor				pointer
					height				0.5rem
					width				100%

				&:focus::-webkit-slider-runnable-track
					background			lighten($blue--navy, 5%)

				&::-moz-range-track
					background			$blue--navy
					border-radius		999px
					cursor				pointer
					height				0.5rem
					width				100%

				&::-ms-track
					background			$blue--navy
					border-radius		999px
					cursor				pointer
					height				0.5rem
					width				100%

				&::-ms-fill-lower
					background			$blue--navy
					border-radius		999px
					cursor				pointer
					height				0.5rem
					width				100%

				&:focus::-ms-fill-lower
					background			$blue--navy

				&::-ms-fill-upper
					background			$blue--navy
					border-radius		999px
					cursor				pointer
					height				0.5rem
					width				100%

				&:focus::-ms-fill-upper
					background			$blue--navy

			&__notice
				color					$blue--dark
				font-size				0.75rem
				opacity					0
				transition				$fast-transition

				&.is-shown
					opacity				1

		&__results
			col(12)
			border-top					1px dashed $blue--sky
			padding-top					0.5rem

			+bp($screen-sm-min)
				col(5)
				border-left				1px dashed $blue--sky
				border-top				0
				padding-left			0.5rem
				padding-top				0

			&__heading
				color					$blue--dark
				display					block
				font-size				0.75rem
				font-weight				500
				text-transform			uppercase

			&__currency
				background				rgba($blue--sky, 0.1)
				border					2px solid rgba($blue--navy, 0.5)
				color					$blue--sky
				cursor					pointer
				font-size				0.75rem
				-moz-appearance			none
				padding					0.2rem
				-webkit-appearance		none

				&:focus
					outline				none
					background			rgba($blue--sky, 0.2)

			&__value
				color					$white
				font-weight				500
				margin					0

				&__symbol
					display				inline-block
					font-size			1rem
					vertical-align		-webkit-baseline-middle

				&__number
					font-size			3rem

			&__hourly-rate
				margin					0