.c-introduction
	background						$blue--dark
	color							$silver

	+bp($screen-sm-min)
		text-align					left

	.o-inline-link
		color						$silver

		&:before
			background-color		$yellow

		&:after
			border-bottom			1px solid $yellow

		+ActiveFocusHover()
			color					$blue--dark

	&__image
		relative()
		height						7rem
		margin-right				0.5rem
		margin-top					1.25rem
		width						7rem

		&__container
			col(12)
			relative()
			margin-bottom			$base-spacing-unit
			text-align				center

			&:before
				absolute()
				background			rgba($blue--medium, 0.4)
				border-radius		50%
				content				""
				display				block
				height				8rem
				left				50%
				margin-left			-4.25rem
				top					0.75rem
				width				8rem

			+bp($screen-sm-min)
				col(4)
				margin-bottom		0
				padding-right		1rem
				text-align			right

				&:before
					left			auto
					margin-left		0
					right			1rem

	&__content__container
		col(12)

		+bp($screen-sm-min)
			col(8)

	&__contact-list
		inline-list()
		unstyled-list()

		&__item

			&__link
				background			rgba($blue--medium, 0.4)

				&:after
					box-shadow		0 0 0 2px $yellow

				+ActiveFocusHover()
					background		$yellow

					.o-icon
						fill		$blue--dark

	&__header
		color						$yellow
		font-size					4rem
		letter-spacing				-1px

		.subheader
			color					$silver