.c-navbar
	background 				$blue--dark

	&__link
		row()
		align-items 		center
		color 				$white
		// display 			block
		font-size 			0.75rem
		padding				0.5rem
		text-decoration 	none
		transition 			$fast-transition

		+ActiveFocusHover()
			color			$yellow

		.o-icon
			margin-right 	0.3rem