// @name Newsletter Component
// @description Section advertising the Full Web newsletter.
// @markup
// <section data-nav-title="Subscribe to the FullWeb newsletter" id="newsletter" class="o-section o-section--white">
//   <div class="o-section__content__container">
//     <div aria-labelledby="newsletter__header" class="c-newsletter">
//       <h2 id="newsletter__header">I&nbsp;subscribe and contribute&nbsp;to&nbsp;the</h2>
//       <a href="http://fullweb.io/" title="Go to the Full Web home page to sign up" class="c-newsletter__link">
//         <img src="/images/fullweb-logo.svg" alt="Full Web Newsletter logo" class="c-newsletter__image">
//       </a>
//       <p>&hellip;and you should to</p>
//     </div>
//   </div>
// </section>

.c-newsletter
	background						$white
	text-align						center

	&__image
		height						33vh
		width						auto

	&__link
		display						block
		margin						$base-spacing-unit auto

		+ActiveFocusHover()
			outline 				none