$module-colour = $blue--sky

.c-services
	row()
	background						$module-colour
	color							$blue--medium
	text-align						center

	&__button
		border-color				$blue--medium
		color						$blue--medium

		+ActiveFocusHover()
			background				$blue--medium
			color					$module-colour

		&__container
			col(12)
			margin-top				$base-spacing-unit

	&__header
		color						$blue--medium

	&__list
		row()
		unstyled-list()
		color						$blue--medium
		font-size					1rem
		justify-content 			center
		text-align					left

		&__item
			col(12)
			align-items				center
			padding 				0.5 * $base-spacing-unit

			+bp($screen-sm-min)
				col(6)

			&__header
				align-items			center
				justify-content 	center

				.o-icon
					font-size 		1.25rem

			&__content
				font-weight 		300
				line-height 		1.5

	.o-icon--checkmark
		opacity						0.75
		vertical-align				middle

		&.is-checked

			.o-icon--checkmark__check
				stroke				$blue--medium

			.o-icon--checkmark__circle
				stroke				$blue--medium