// @name Services Component
// @description Section describing what services I provide.
// @markup
// <section data-nav-title="Find out what I do" data-when-in-view="check-checkmarks" id="services" class="o-section o-section--padding-top o-section--sky-blue js-scroll-point is-in-view">
//   <div class="o-section__content__container">
//     <div aria-labelledby="services__header" class="c-services o-section__content">
//       <h2 id="services__header" class="o-section__header o-section__header--blue--medium">What I do</h2>
//       <p class="c-services__text">I’m a hyper-organised agile fanatic, and a certified Scrum Product Owner who genuinely geeks out on process. I’ve covered many roles in the industry, so fit well into any team, and have years of experience in building, managing, and training such digital product teams. What do I do? I work with great teams to make great products for the web and mobile devices.</p>
//       <ul class="c-services__list">
//         <li class="o-list-item o-list-item--blue--medium">
//           <h3 class="o-list-item__header c-services__list__header">
//             <svg enable-background="new 0 0 98.5 98.5" version="1.1" viewBox="0 0 98.5 98.5" x="0px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px" class="o-list-item__header__icon o-icon o-icon--checkmark o-icon--checkmark--blue--medium js-checkmark is-checked">
//               <g>
//                 <polyline fill="none" points="26.7,54.4 40,67.7 71.8,34.8 " stroke-miterlimit="2" stroke-width="8" class="o-icon--checkmark__check"></polyline>
//                 <g>
//                   <circle cx="49.2" cy="49.2" fill="none" r="49.2" stroke-miterlimit="10" stroke-width="12" class="o-icon--checkmark__circle"></circle>
//                 </g>
//               </g>
//             </svg>Product Management
//           </h3>
//         </li>
//         <li class="o-list-item o-list-item--blue--medium">
//           <h3 class="o-list-item__header c-services__list__header">
//             <svg enable-background="new 0 0 98.5 98.5" version="1.1" viewBox="0 0 98.5 98.5" x="0px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px" class="o-list-item__header__icon o-icon o-icon--checkmark o-icon--checkmark--blue--medium js-checkmark is-checked">
//               <g>
//                 <polyline fill="none" points="26.7,54.4 40,67.7 71.8,34.8 " stroke-miterlimit="2" stroke-width="8" class="o-icon--checkmark__check"></polyline>
//                 <g>
//                   <circle cx="49.2" cy="49.2" fill="none" r="49.2" stroke-miterlimit="10" stroke-width="12" class="o-icon--checkmark__circle"></circle>
//                 </g>
//               </g>
//             </svg>Agile Scrum
//           </h3>
//         </li>
//         <li class="o-list-item o-list-item--blue--medium">
//           <h3 class="o-list-item__header c-services__list__header">
//             <svg enable-background="new 0 0 98.5 98.5" version="1.1" viewBox="0 0 98.5 98.5" x="0px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px" class="o-list-item__header__icon o-icon o-icon--checkmark o-icon--checkmark--blue--medium js-checkmark is-checked">
//               <g>
//                 <polyline fill="none" points="26.7,54.4 40,67.7 71.8,34.8 " stroke-miterlimit="2" stroke-width="8" class="o-icon--checkmark__check"></polyline>
//                 <g>
//                   <circle cx="49.2" cy="49.2" fill="none" r="49.2" stroke-miterlimit="10" stroke-width="12" class="o-icon--checkmark__circle"></circle>
//                 </g>
//               </g>
//             </svg>User Experience
//           </h3>
//         </li>
//         <li class="o-list-item o-list-item--blue--medium">
//           <h3 class="o-list-item__header c-services__list__header">
//             <svg enable-background="new 0 0 98.5 98.5" version="1.1" viewBox="0 0 98.5 98.5" x="0px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px" class="o-list-item__header__icon o-icon o-icon--checkmark o-icon--checkmark--blue--medium js-checkmark is-checked">
//               <g>
//                 <polyline fill="none" points="26.7,54.4 40,67.7 71.8,34.8 " stroke-miterlimit="2" stroke-width="8" class="o-icon--checkmark__check"></polyline>
//                 <g>
//                   <circle cx="49.2" cy="49.2" fill="none" r="49.2" stroke-miterlimit="10" stroke-width="12" class="o-icon--checkmark__circle"></circle>
//                 </g>
//               </g>
//             </svg>Full-Stack Web Development
//           </h3>
//         </li>
//         <li class="o-list-item o-list-item--blue--medium">
//           <h3 class="o-list-item__header c-services__list__header">
//             <svg enable-background="new 0 0 98.5 98.5" version="1.1" viewBox="0 0 98.5 98.5" x="0px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px" class="o-list-item__header__icon o-icon o-icon--checkmark o-icon--checkmark--blue--medium js-checkmark is-checked">
//               <g>
//                 <polyline fill="none" points="26.7,54.4 40,67.7 71.8,34.8 " stroke-miterlimit="2" stroke-width="8" class="o-icon--checkmark__check"></polyline>
//                 <g>
//                   <circle cx="49.2" cy="49.2" fill="none" r="49.2" stroke-miterlimit="10" stroke-width="12" class="o-icon--checkmark__circle"></circle>
//                 </g>
//               </g>
//             </svg>Digital Marketing Strategy
//           </h3>
//         </li>
//         <li class="o-list-item o-list-item--blue--medium">
//           <h3 class="o-list-item__header c-services__list__header">
//             <svg enable-background="new 0 0 98.5 98.5" version="1.1" viewBox="0 0 98.5 98.5" x="0px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" y="0px" class="o-list-item__header__icon o-icon o-icon--checkmark o-icon--checkmark--blue--medium js-checkmark is-checked">
//               <g>
//                 <polyline fill="none" points="26.7,54.4 40,67.7 71.8,34.8 " stroke-miterlimit="2" stroke-width="8" class="o-icon--checkmark__check"></polyline>
//                 <g>
//                   <circle cx="49.2" cy="49.2" fill="none" r="49.2" stroke-miterlimit="10" stroke-width="12" class="o-icon--checkmark__circle"></circle>
//                 </g>
//               </g>
//             </svg>Mobile Apps
//           </h3>
//         </li>
//       </ul>
//       <div class="c-services__footer"><a data-page="about" href="/about/me" title="" class="o-button o-button--ghost o-button--ghost--blue--medium js-trigger-page-transition">want to know more?</a></div>
//     </div>
//   </div>
//   <svg preserveAspectRatio="none" role="separator" version="1.1" viewBox="0 0 612 100" width="100%" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" class="o-section__end">
//     <g>
//       <path d="M612,0H0.912C306.459,100,489.777,100,612,0z"></path>
//     </g>
//   </svg>
// </section>
// <div class="c-styleguide__spacer-element"></div>

$module-colour = $blue--sky

.c-services
	row()
	background							$module-colour
	color										$blue--medium

	&__footer
		col(12)
		margin-top 						0.5 * $base-spacing-unit
		text-align 						center

	&__list
		row()
		unstyled-list()
		margin 								0 auto
		padding 							0
		width 								85%

		+bp($screen-sm-min)
			width 							60%

		+bp($screen-md-min)
			width 							45%

		&__header
			row()
			align-items					center
			font-size						0.75rem
			font-weight 				600
			justify-content 		left
			text-transform 			uppercase

	&__text
			margin							1em auto
			max-width						75ch
			text-align 					center
