// @name Colours
// @description All the colours used throughout the site.
// @state black - #000000
// @state grey--dark-1 - #252525
// @state grey--dark-2 - #333333
// @state grey--light-1 - #e5e5e5
// @state grey--light-2 - #f2f2f2
// @state grey--light-3 - #fafafa
// @state blue - #14C9E7
// @state blue--cerulean - #137B9B
// @state blue--dark - #243342
// @state blue--medium - #34495e
// @state blue--sky - #85DBF3
// @state blue--navy - #004056
// @state silver - #95a5a6
// @state yellow - #ffffcb
// @state red - #ea6153
// @state green - #1ABC9C
// @state white - #ffffff
// @markup
// <div class="c-styleguide__colour-block c-styleguide__colour-block--black"></div>
// <div class="c-styleguide__colour-block c-styleguide__colour-block--grey--dark-1"></div>
// <div class="c-styleguide__colour-block c-styleguide__colour-block--grey--dark-2"></div>
// <div class="c-styleguide__colour-block c-styleguide__colour-block--grey--light-1"></div>
// <div class="c-styleguide__colour-block c-styleguide__colour-block--grey--light-2"></div>
// <div class="c-styleguide__colour-block c-styleguide__colour-block--grey--light-3"></div>
// <div class="c-styleguide__colour-block c-styleguide__colour-block--blue"></div>
// <div class="c-styleguide__colour-block c-styleguide__colour-block--blue--cerulean"></div>
// <div class="c-styleguide__colour-block c-styleguide__colour-block--blue--dark"></div>
// <div class="c-styleguide__colour-block c-styleguide__colour-block--blue--medium"></div>
// <div class="c-styleguide__colour-block c-styleguide__colour-block--blue--sky"></div>
// <div class="c-styleguide__colour-block c-styleguide__colour-block--blue--navy"></div>
// <div class="c-styleguide__colour-block c-styleguide__colour-block--silver"></div>
// <div class="c-styleguide__colour-block c-styleguide__colour-block--yellow"></div>
// <div class="c-styleguide__colour-block c-styleguide__colour-block--red"></div>
// <div class="c-styleguide__colour-block c-styleguide__colour-block--green"></div>
// <div class="c-styleguide__colour-block c-styleguide__colour-block--white"></div>

$black =					#000000
$grey--dark-1 =				#252525
$grey--dark-2 =				#333333
$grey--light-1 =			#e5e5e5
$grey--light-2 =			#f2f2f2
$grey--light-3 =			#fafafa
$blue = 					#14C9E7
$blue--cerulean =			#137B9B
$blue--dark =				#243342
$blue--medium =				#34495e
$blue--sky = 				#85DBF3
$blue--navy = 				#004056
$silver =					#95a5a6
$yellow = 					#ffffcb
$red =						#ea6153
$green =					#1ABC9C
$white =					#ffffff

// Colour Settings

$body-background =			$white
$body-text-colour =			$grey--dark-1
$headings-colour =			$black