.c-introduction
	background						$blue--dark
	color							$silver

	+bp($screen-sm-min)
		text-align					left

	.o-inline-link
		relative()
		color						$silver
		perspective					600px
		perspective-origin			50% 100%
		transition					all 0.2s ease-in-out

		&:before
			background-color		$yellow

		&:after
			border-bottom			1px solid $yellow

		+ActiveFocusHover()
			color					$blue--dark

	&__image
		relative()
		border-radius				50%
		filter						contrast(200%) saturate(30%)
		height						7rem
		margin-right				0.5rem
		margin-top					1.25rem
		width						7rem

		&__container
			col(12)
			relative()
			margin-bottom			$base-spacing-unit
			text-align				center

			&:before
				absolute()
				background			rgba($blue--medium, 0.4)
				border-radius		50%
				content				""
				display				block
				height				8rem
				left				50%
				margin-left			-4.25rem
				top					0.75rem
				width				8rem

			+bp($screen-sm-min)
				col(4)
				margin-bottom		0
				padding-right		1rem
				text-align			right
				
				&:before
					left			auto
					margin-left		0
					right			1rem

	&__content__container
		col(12)

		+bp($screen-sm-min)
			col(8)

	&__contact-list
		inline-list()
		unstyled-list()

		&__item

			&__link
				relative()
				background			rgba($blue--medium, 0.4)
				border-radius		50%
				display				block
				line-height			50%
				margin				0.5em
				padding				0.5em
				transition			0.2s all ease-in-out

				.o-icon
					fill			$silver
					margin-top		3px

				&:after
					border-radius	50%
					box-shadow		0 0 0 2px $yellow
					content			""
					height			100%
					left			-7px
					opacity			0
					padding			7px
					pointer-events	none
					position		absolute
					top				-7px
					transform		scale(.8)
					transition		transform 0.2s, opacity 0.2s
					width			100%

				+ActiveFocusHover()
					background		$yellow
					outline			none

					.o-icon
						fill		$blue--dark

					&:after
						opacity		1
						transform	scale(1)

			&__text
				absolute()
				height				1px
				left				-999px
				overflow			hidden
				top					-999px
				width				1px

	&__header
		color						$yellow
		font-size					4rem
		letter-spacing				-1px

		.subheading
			color					$silver