$module-colour = $blue--sky

.c-services
	row()
	background						$module-colour
	color							$blue--medium
	text-align						center

	&__button
		border-color				$blue--medium
		color						$blue--medium

		+ActiveFocusHover()
			background				$blue--medium
			color					$module-colour

		&__container
			col(12)
			margin-top				$base-spacing-unit

	&__header
		color						$blue--medium

	&__list
		col(8)
		unstyled-list()
		offset(4)
		color						$blue--medium
		font-size					1rem
		text-align					left

		&__item
			align-items				center
			display					flex
			justify-content			flex-start
			margin					0.5rem 0
			
	.o-icon--checkmark
		margin-right				0.5rem
		opacity						0.75
		vertical-align				middle

		&.is-checked

			.o-icon--checkmark__check
				stroke				$blue--medium

			.o-icon--checkmark__circle
				stroke				$blue--medium