$min-width		=			400
$max-width		=			800
$min-width-px	=			unit($min-width, px)
$max-width-px	=			unit($max-width, px)
$min-font		=			16
$max-font		=			22
$min-font-px	=			unit($min-font, px)
$max-font-px	=			unit($max-font, px)

:root
	font-size   			unit($min-font, "px")

@media (min-width: $min-width-px) and (max-width: $max-width-px)

	:root
		font-size			"calc(%s + (%s - %s) * ((100vw - %s) / (%s - %s)))" % (($min-font-px) ($max-font) ($min-font) ($min-width-px) ($max-width) ($min-width))

@media (min-width: $max-width-px)

	:root
		font-size			unit($max-font, "px")

// Helper classes

.caps
	text-transform			uppercase

.centred
	text-align				center

.left-aligned
	text-align				left

.right-aligned
	text-align				right

.small
	font-size				0.85em

.subheader
	font-size				0.4em
	font-weight				300
	margin					0.05em 0

// Base styles

// @name Body text
// @description Plain text anywhere on the site.
// @state .caps - Capitalise all letters
// @state .centred - Centre-align the text
// @state .left-aligned - Left-align the text
// @state .right-aligned - Right-align the text
// @state .small - Make the text small
// @markup
// <p>Prow scuttle parrel provost Sail ho shrouds spirits boom mizzenmast yardarm. Pinnace holystone mizzenmast quarter crow's nest nipperkin grog yardarm hempen halter furl. Swab barque interloper chantey doubloon starboard grog black jack gangway rutters.</p>
// <p class="caps">Deadlights jack lad schooner scallywag dance the hempen jig carouser broadside cable strike colors. Bring a spring upon her cable holystone blow the man down spanker Shiver me timbers to go on account lookout wherry doubloon chase. Belay yo-ho-ho keelhaul squiffy black spot yardarm spyglass sheet transom heave to.</p>
// <p class="centred">Galleon Yellow Jack heave to quarter pressgang coffer hogshead no prey, no pay snow mutiny. Gold Road nipper rum barque wherry Chain Shot holystone strike colors tender shrouds. Square-rigged smartly reef sails provost run a shot across the bow landlubber or just lubber transom hardtack matey case shot.</p>
// <p class="left-aligned">Pirate avast belaying pin snow fore jolly boat ballast hearties hands clap of thunder. Salmagundi red ensign heave to cackle fruit fire ship lookout yard reef wench killick. Crimp main sheet sloop wench broadside yard driver mutiny Brethren of the Coast Pieces of Eight.</p>
// <p class="right-aligned">No prey, no pay doubloon hulk maroon Cat o'nine tails Corsair tender grog belay deadlights. Chase stern bowsprit gaff coxswain sloop draught Sink me interloper Pieces of Eight. Dead men tell no tales American Main hardtack lugsail draft league bilge heave to ye strike colors.</p>
// <p class="small">Jolly boat interloper scallywag piracy pressgang lad jack wherry sloop hogshead. Square-rigged lass knave rum yard squiffy heave to furl swing the lead reef. Bilge reef sails holystone keelhaul lee tender nipper run a shot across the bow marooned port.</p>

html,
body
	color					$body-text-colour
	font-family				$body-font-backup
	font-kerning			auto
	font-smooth				always
	font-weight				300
	letter-spacing			0.5px
	text-rendering			optimizeLegibility
	-webkit-font-smoothing	subpixel-antialiased

	&.wf-active
		font-family 		$body-font

		body
			font-family 	$body-font

p
	line-height				1.365

// @name Headers
// @description All kinds of header elements.
// @markup
// <h1>Header</h1>
// <h2>Header</h2>
// <h3>Header</h3>
// <h4>Header</h4>
// <h5>Header</h5>
// <h6>Header</h6>
// <h1>Header
//   <div class="subheader"> with subheader</div>
// </h1>

h1,
h2,
h3,
h4,
h5,
h6
	font-weight				100
	margin					0