extends templates/master

block title
	| Darryl Snow - Your Web Expert

block styles

block content

	include components/navigation

	section.o-section.o-section--dark-blue.js-scroll-point.js-full-height-section(data-nav-title="About me", id="introduction")

		.o-section__content__container

			include components/introduction

		+section-end

	section.o-section.o-section--padding-top.o-section--sky-blue.js-scroll-point.js-full-height-section(data-nav-title="Find out what I do", data-when-in-view="check-checkmarks", id="services")

		.o-section__content__container

			include components/services

		+section-end

	section.o-section.o-section--padding-top.o-section--blue.js-scroll-point.js-full-height-section(data-nav-title="See who I've worked for", data-when-in-view="show-logos", id="clients")

		.o-section__content__container

			include components/clients

		+section-end

	section.o-section.o-section--padding-top.o-section--cerulean-blue.js-scroll-point.js-full-height-section(data-nav-title="How much I charge", id="cost")

		.o-section__content__container

			include components/cost

		+section-end

	section.o-section.o-section--padding-top.o-section--navy-blue.js-scroll-point.js-full-height-section(data-nav-title="Get in touch with me", data-when-in-view="zoom-in-map", id="contact")

		.o-section__content__container

			include components/contact

		+section-end

	section.o-section.o-section--padding-top.o-section--dark-blue.c-blog__section.js-scroll-point.js-blog(data-nav-title="Read my thoughts", data-wait-for-load="true", id="blog")

		.o-section__content__container

			include components/blog

		+section-end

	section.o-section.o-section--padding-top.o-section--white.js-scroll-point(data-nav-title="Subscribe to the FullWeb newsletter", id="newsletter")

		.o-section__content__container

			include components/newsletter

	include components/login
<<<<<<< HEAD:client/src/jade/index.jade
	
	.js-my-app
=======
>>>>>>> 55613a816d2d3d7064eb9990b464aa829ce29f03:src/jade/index.jade

block scripts