extends templates/master

block title
	| Darryl Snow - Your Web Expert

block styles

block content

	.o-page-transition.is-loading
	
		.o-page-transition__initial-overlay
	
		.o-page-transition__page-container.is-shown(data-page="home")
		
			include components/home-page
			
		.o-page-transition__page-container(data-page="about")
		
			include components/about-page
			
		.o-page-transition__page-container(data-page="contract")
		
			include components/contract-page
			
		.o-page-transition__overlay.is-shown(data-opening="M 0,0 c 0,0 63.5,-16.5 80,0 16.5,16.5 0,60 0,60 L 0,60 Z")
			svg.o-page-transition__overlay__svg(height="100%", preserveaspectratio="none", viewbox="0 0 80 60", width="100%", xmlns="http://www.w3.org/2000/svg")
				path.o-page-transition__overlay__svg__path(d="M 0,0 c 0,0 -16.5,43.5 0,60 16.5,16.5 80,0 80,0 L 0,60 Z")

block scripts