extends templates/master

block title
	| Darryl Snow - Your Web Expert

block styles

block content

	section.o-section.o-section--dark-blue.js-scroll-point.js-full-height-section

		.o-section__content__container

			.c-introduction.o-section__content.o-media.js-full-height-section__content(aria-labelledby="offline__header")

				.o-media__image
					img.o-image--avatar.c-introduction__image(alt="Picture of me, Darryl Snow", itemprop="image", src="/images/darryl-snow.jpg")

				.o-media__text

					h1#offline__header.c-introduction__header
						span(itemprop="name") Offline

					p.c-introduction__text It looks like you don't have an internet connection, but you can still read my 
						a.o-inline-link.o-inline-link--silver(href="/darryl-snow-cv.pdf", title="Read my CV")
							span CV&nbsp;
						| or my 
						a.o-inline-link.o-inline-link--silver(href="/contract.pdf", title="Read my Contract")
							span contract
						| .

					p.c-introduction__text
						a.o-button.o-button--ghost.o-button--ghost--white(href="/", title="Go to the main page") click here when you're online

block scripts