extends templates/master

block title
	| Darryl Snow - Your Web Expert

block styles

block content

	.o-section.o-section--dark-blue

		.o-section__content

			include components/introduction

block scripts